<template>

    <section class="features-icons">

        <div class="row rowbotones">
            <div class="col-sm-12">
                <router-link v-if="user.token && (user.permissions & ROLE_LIST.adoption.w)" class="float-left btn btn-primary" to="/adoption/new">
                    <span class="d-sm-none d-md-inline">Crear nueva ficha</span>
                    <span class="d-sm-inline d-none d-md-none">Nueva ficha</span>
                </router-link>


                    <div class="float-right btn-group btn-group-toggle animal-group form-control" data-toggle="buttons">
                        <label class="btn btn-primary" :class="{'active':selectionanimal === 'all'}">
                            <input type="radio" name="options" id="all" autocomplete="off" @click="selectionanimal='all'" :checked="selectionanimal === 'all'">
                            <i class="fas fa-check-circle"></i><span>Todos</span>
                        </label>
                        <label class="btn btn-primary" :class="{'active':selectionanimal === 'cat'}">
                            <input type="radio" name="options" id="cat" autocomplete="off" @click="selectionanimal='cat'" :checked="selectionanimal === 'cat'">
                            <i class="icofont icofont-animal-cat-alt-4"></i>&nbsp;
                            <span>Gatos</span>
                        </label>
                        <label class="btn btn-primary" :class="{'active':selectionanimal === 'dog'}">
                            <input type="radio" name="options" id="dog" autocomplete="off" @click="selectionanimal='dog'" :checked="selectionanimal === 'dog'">
                            <i class="icofont icofont-animal-dog"></i>&nbsp;
                            <span>Perros</span>
                        </label>
                        <label class="btn btn-primary" :class="{'active':selectionanimal === 'other'}">
                            <input type="radio" name="options" id="other" autocomplete="off" @click="selectionanimal='other'" :checked="selectionanimal === 'other'">
                            <i class="icofont icofont-animal-cow"></i>&nbsp;
                            <span>Otros</span>
                        </label>
                    </div>


                    <div class="float-right btn-group btn-group-toggle sex-group form-control" data-toggle="buttons">
                        <label class="btn btn-primary" :class="{'active':selectionsex=== 'all'}">
                            <input type="radio" name="options" id="a" autocomplete="off" @click="selectionsex='all'" :checked="selectionsex=== 'all'">
                            <i class="fas fa-genderless"></i>&nbsp;
                            <span>Cualquiera</span>
                        </label>
                        <label class="btn btn-primary" :class="{'active':selectionsex=== 'F'}">
                            <input type="radio" name="options" id="f" autocomplete="off" @click="selectionsex='F'" :checked="selectionsex=== 'F'">
                            <i class="fas fa-venus"></i>&nbsp;
                            <span>Hembra</span>
                        </label>
                        <label class="btn btn-primary" :class="{'active':selectionsex=== 'M'}">
                            <input type="radio" name="options" id="n" autocomplete="off" @click="selectionsex='M'" :checked="selectionsex=== 'M'">
                            <i class="fas fa-mars"></i>&nbsp;
                            <span>Macho</span>
                        </label>
                    </div>
                    <div class="invalid-feedback">
                        Debes seleccionar un género
                    </div>

            </div>
        </div>


        <transition name="fade" mode="out-in">

            <div v-if="!loading" key="2">

                <transition-group name="list-horizontal-complete" class="postwrapper row" tag="div">
                    <adoption-component v-for="(data) in adoptions" v-bind:key="data._id" v-bind:data="data" v-bind:type="'list'"></adoption-component>

                    <div key="0" class="row empty-list" v-if="adoptions.length===0">
                        <div class="col-12">
                            <h3 class="text-center" >No tenemos ninguna mascota para adopar en este momento, prueba más adelante.</h3>

                            <p v-if="(ROLE_LIST.adoption.w & user.permissions)">
                                Puedes añadir una nueva ficha utilizando el botón superior
                            </p>

                            <img src="../assets/emptylist.png">

                        </div>
                    </div>
                </transition-group>

                <transition-group key="4" v-if="adoptionstramit.length > 0" name="list-horizontal-complete" class="postwrapper row" tag="div">
                    <div  key="3" class="col-12">
                        <h3><span class="badge badge-warning">En trámite</span></h3><h6> Pendiente de aceptar la solicitud de adopción</h6>
                        <div key="4" class="dropdown-divider"></div>
                    </div>

                    <adoption-component v-for="(data) in adoptionstramit" v-bind:key="data._id" v-bind:data="data" v-bind:type="'list'"></adoption-component>
                </transition-group>


                <transition-group key="5" v-if="adoptionscomplete.length > 0" name="list-horizontal-complete" class="postwrapper row" tag="div">
                    <div  key="3" class="col-12">
                        <h3><span class="badge badge-success">¡Adoptados!</span></h3><h6> Estos amiguitos ya encontraron un hogar, ¡esperamos que sean felices!</h6>
                        <div key="4" class="dropdown-divider"></div>
                    </div>
                    <adoption-component v-for="(data) in adoptionscomplete" v-bind:key="data._id" v-bind:data="data" v-bind:type="'list'"></adoption-component>
                </transition-group>

            </div>

            <div key="1" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>


    </section>


</template>

<script>

    import {mapState} from 'vuex';
    import AdoptionComponent from '../components/AdoptionComponent.vue';

    export default {
        name: "adoptions",
        data: function() {
            return {
                loading: true,
                adoptionsOriginal: [],
                adoptions: [],
                adoptionstramit: [],
                adoptionscomplete: [],
                selectionanimal: 'all',
                selectionsex: 'all'

            }
        },
        watch:{
            'selectionanimal': function(){
                this.filter();
            },
            'selectionsex': function(){
                this.filter();
            }
        },
        computed: mapState({
            user:'user'
        }),
        components: {
            'adoption-component': AdoptionComponent,
        },
        created: async function(){

            const adoptionpromise =  this.request("/adoption");
            let adoptionpromise1;
            if(this.user.permissions & this.ROLE_LIST.adoption.w) adoptionpromise1 =  this.request("/adoption?adopted=1");
            const adoptionpromise2 =  this.request("/adoption?adopted=2");

            const [data1, data2, data3] = await this.requestAll([adoptionpromise,adoptionpromise1,adoptionpromise2]);

            this.adoptions = data1.data;
            this.adoptionsOriginal = data1.data;

            if(adoptionpromise1) this.adoptionstramit = data2.data;
            this.adoptionscomplete = data3.data;

            this.loading = false;

        },
        methods:{
            filter: function(){

                let newadoptions = [];
                for(let index in this.adoptionsOriginal){
                    let selected = this.adoptionsOriginal[index];
                    if(this.selectionanimal !== 'all'){
                        if(selected.animal !== this.selectionanimal){
                            selected = null;
                        }
                    }
                    if(selected !== null && this.selectionsex !== 'all'){
                        if(selected.sex !== this.selectionsex){
                            selected = null;
                        }
                    }
                    if(selected) newadoptions.push(selected);
                }

                this.adoptions = newadoptions;



            }
        }
    }
</script>

<style scoped>

    h5.e404{
        margin-top: 15px;
    }

    .btn-group-toggle{
        margin-left: 15px !important;
    }

    @media (max-width: 576px) {

        .btn-group-toggle .icofont{
            margin-left: -5px;
            margin-right: -5px;
        }

        .btn-group-toggle label span{
            display: none;
        }


    }

    @media (max-width: 1200px){
        .btn-group-toggle {
            margin: 5px 0;
        }
    }

    h3{
        margin-top: 15px;
    }

</style>