<template>
    <section class="features-icons">

        <transition name="fade" mode="out-in">

            <div key="1" v-if="!loading">
                <div v-if="adoption">

                    <adoption-component v-if="adoption !== null" v-bind:key="adoption._id" v-bind:data="adoption" v-bind:type="'unique'"></adoption-component>

                </div>

                <div v-if="!adoption">
                    <e404></e404>
                </div>
            </div>

            <div key="3" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>


    </section>
</template>

<script>
    import ConfirmModal from '../components/ConfirmModal.vue';
    import AdoptionComponent from '../components/AdoptionComponent.vue';
    import e404 from '../components/e404.vue';
    import {mapState} from 'vuex';

    export default {
        name: "adoption",
        data: function(){
            return {
                loading: true,
                adoption: {}
            }
        },
        computed: mapState({
            user:'user'
        }),
        components: {
            'confirm-modal': ConfirmModal,
            'adoption-component': AdoptionComponent,
            'e404':e404,
        },
        watch: { //para navegar entre fichas
            '$route.params.id': function(){
                this.cargar();
            }
        },
        created: async function(){
            await this.cargar();
        },
        methods: {
            cargar: async function(){

                try {
                    const adoption = await this.request("/adoption/" + this.$route.params.id);
                    this.adoption = adoption.data;
                    document.title = document.title  +' de '+ this.adoption.name;


                }catch(e){
                    this.adoption = false;
                }

                this.loading = false;
            }
        }
    }
</script>

<style scoped>

</style>