<template>
    <section class="features-icons">
        <transition name="fade" mode="out-in">





            <form id="formAdoption" key="1" v-if="!initloading" :class="{loading:loading}" novalidate @submit.prevent="onSubmit">

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="titulo">Nombre:</label>
                            <input @keydown.tab.prevent="tabtoeditor" placeholder="Nombre del animal en adopción" @focus="reset('errorname')" v-bind:class="{'is-invalid': errorname}" class="form-control" id="titulo" required v-model="adoption.name">
                            <div class="invalid-feedback">
                                El nombre no puede estar vacio
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group">
                            <label for="cat">Especie:</label>
                            <div class="btn-group btn-group-toggle animal-group form-control" data-toggle="buttons" v-bind:class="{'is-invalid': erroranimal}">
                                <label class="btn btn-primary" :class="{'active':adoption.animal === 'cat'}">
                                    <input type="radio" name="options" id="cat" autocomplete="off" @focus="reset('erroranimal')" @click="adoption.animal='cat'" :checked="adoption.animal === 'cat'">
                                    <i class="icofont icofont-animal-cat-alt-4"></i>&nbsp;
                                    <span>Gatos</span>
                                </label>
                                <label class="btn btn-primary" :class="{'active':adoption.animal === 'dog'}">
                                    <input type="radio" name="options" id="dog" autocomplete="off" @focus="reset('erroranimal')" @click="adoption.animal='dog'" :checked="adoption.animal === 'dog'">
                                    <i class="icofont icofont-animal-dog"></i>&nbsp;
                                    <span>Perros</span>
                                </label>
                                <label class="btn btn-primary" :class="{'active':adoption.animal === 'other'}">
                                    <input type="radio" name="options" id="other" autocomplete="off" @focus="reset('erroranimal')" @click="adoption.animal='other'" :checked="adoption.animal === 'other'">
                                    <i class="icofont icofont-animal-cow"></i>&nbsp;
                                    <span>Otros</span>
                                </label>
                            </div>
                            <div class="invalid-feedback">
                                Debes seleccionar una especie
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <div class="form-group">
                            <label for="f">Género:</label>
                            <div class="btn-group btn-group-toggle sex-group form-control" data-toggle="buttons"  v-bind:class="{'is-invalid': errorsex}">
                                <label class="btn btn-primary" :class="{'active':adoption.sex === 'F'}">
                                    <input type="radio" name="options" id="f" autocomplete="off" @focus="reset('errorsex')" @click="adoption.sex='F'" :checked="adoption.sex === 'F'">
                                    <i class="fas fa-venus"></i>&nbsp;
                                    <span>Hembra</span>
                                </label>
                                <label class="btn btn-primary" :class="{'active':adoption.sex === 'M'}">
                                    <input type="radio" name="options" id="n" autocomplete="off" @focus="reset('errorsex')" @click="adoption.sex='M'" :checked="adoption.sex === 'M'">
                                    <i class="fas fa-mars"></i>&nbsp;
                                    <span>Macho</span>
                                </label>
                            </div>
                            <div class="invalid-feedback">
                                Debes seleccionar un género
                            </div>
                        </div>
                    </div>



                </div>


                <div class="form-group">
                    <label>Información:</label>

                    <wysiwyg v-bind:class="{'is-invalid': errorbody}" v-model="adoption.text" ></wysiwyg>

                    <div v-if="errorbody" class="invalid-feedback-my text-danger">
                        El cuerpo no puede estar vacio
                    </div>
                </div>
                <div class="form-group">
                    <div class="row ">

                        <div class="col-12 col-md-6 col-xl-9 all-gallery">


                            <draggable class="row galleryUploaded" v-model="adoption.media" :options="
                            {
                                handle: '.btn-drag'
                            }
                            " @start="drag=true" @end="drag=false">
                                <div v-for="img in adoption.media" v-bind:key="img" class="col-6 col-sm-4 col-xl-3">
                                    <div class="wrapper">

                                        <div class="buttons edit-tiny-buttons">
                                            <button type="button" @click="remove(img)" class="btn btn-danger btn-remove" aria-label="Close">
                                                <span aria-hidden="true">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </button>

                                            <button
                                                    v-if="img !== adoption.cover"
                                                    @click="setCover(img)"
                                                    type="button" class="btn btn-warning btn-cover">
                                                <span aria-hidden="true">
                                                    <i class="fas fa-star"></i>
                                                </span>
                                            </button>

                                            <button class="btn btn-primary btn-drag">
                                                 <span aria-hidden="true">
                                                    <i class="fas fa-arrows-alt"></i>
                                                </span>
                                            </button>

                                        </div>

                                        <img :src="dropzoneOptions.url+img"/>
                                    </div>
                                </div>

                            </draggable>

                            <vue-dropzone
                                    @vdropzone-sending="addIdToImage"
                                    @vdropzone-queue-complete="finishImages"
                                    @vdropzone-thumbnail="thumbnailgen"
                                    @vdropzone-removed-file="removeImage"
                                    ref="myVueDropzone"
                                    id="dropzone"
                                    :options="dropzoneOptions"></vue-dropzone>

                            <div v-if="errorcover" class="text-danger mt-2">
                                Tienes que seleccionar una foto como principal.
                            </div>

                        </div>


                        <adoption-component v-bind:style="{ marginTop: previewHight + 'px'}"
                                v-bind:key="adoption._id"
                                v-bind:data="adoption"
                                v-bind:type="'list'"
                                v-bind:numimg="numimg"
                                v-bind:addclass="'preview'"></adoption-component>



                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button class="float-right btn btn-primary loadder" type="submit">
                                <span :class="{visible: !loading}" >
                                    {{adoption._id ? 'Guardar' : 'Publicar'}}
                                </span>
                                <span :class="{visible: loading}" >
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </button>
                            <span id="errorinfo" class="text-danger">{{errorfeedback}}</span>
                        </div>
                    </div>
                </div>

            </form>



                <div key="3" v-if="initloading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>

    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import vue2Dropzone from 'vue2-dropzone';
    import AdoptionComponent from '../components/AdoptionComponent.vue';
    import draggable from 'vuedraggable'

    export default {
        name: "adoptionForm",
        data: function() {
            return {
                initloading: true,
                adoption: {
                    _id: null,
                    name: "",
                    text: "",
                    sex: "",
                    animal: "",
                    cover: "",
                    media: []
                },
                uuidselected: null, //Imagen seleecionada desde la galeria
                errorfeedback: "",
                errorname: false,
                errorbody: false,
                erroranimal: false,
                errorsex: false,
                errorcover: false,
                loading: false,
                numimg: 0, //Numero total de imágenes que voy añadiendo, para el preview
                previewHight: 0, //Para la preview fixed
                removelist: [],
                imagesuploaded:[],
                dropzoneOptions: {
                    url: 'https://httpbin.org/post', //Lo pongo en el created con los datos las variables de entorno
                    thumbnailWidth: 150,
                    maxFilesize: 5,
                    headers: { "Authorization": "" },
                    uploadMultiple: false, //Sube un fichero por cada petición post. Así lo manejo más fácil en el server
                    acceptedFiles: "image/*",
                    autoProcessQueue: false, //Llamar a myDropzone.processQueue() para subir ficheros
                    addRemoveLinks: true,
                    //Traducciones
                    dictDefaultMessage: "Arrastra aquí las fotos o pulsa para seleccionar...",
                    dictFileTooBig: "El fichero seleccionado es demasiado grande, máximo 5Mb.",
                    dictInvalidFileType: "Solo se permite subir imágenes.",
                    dictRemoveFile: "Eliminar",
                }
            }
        },
        computed: mapState({
            user:'user'
        }),
        watch: {
            //Necesito hacerlo así enrevesado porque wysiwyg no me proporciona callback de focus.
            'adoption.text': function(){
                this.reset("errorbody");
                this.errorfeedback='';
            },
            'uuidselected': function(){ //Cuando hay un error y selecciono un cover, quitar el error
                this.errorcover=false;
                this.errorfeedback='';
            },
            'adoption.cover': function(){
                this.errorcover=false;
                this.errorfeedback='';
            }
        },
        components: {
            vueDropzone: vue2Dropzone,
            'adoption-component': AdoptionComponent,
            'draggable':draggable
        },
        created: async function() {

            //Indico al campo de subir archivos la cabecera de autorización y la url para descargar las imágenes
            this.dropzoneOptions.headers.Authorization = this.user.token;
            this.dropzoneOptions.url = process.env.VUE_APP_BASE_API_URI +"adoption/image/";

            if(this.user.token===null) {
                this.$router.push("/login");
            }else{
                const idadoption = this.$route.params.id;
                if (idadoption) {
                    const adoption = await this.request("/adoption/" + idadoption);
                    //Cuando se corta a la mitad un envio y no se ha subido la foto del cover queda vacio y luego
                    //da problemas al actualizar. Así lo arreglo rápido.
                    if(!adoption.data.cover) adoption.data.cover="";
                    this.adoption = adoption.data;
                    this.adoption.user = undefined;
                    this.numimg = adoption.data.media.length;

                }
            }

            this.initloading = false;

        },
        mounted: function(){
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods: {
            handleScroll(){
                //Funcion para poner fixed el cuadro de preview al hacer scroll

                //Si no estoy en móviles
                if (window.matchMedia('(min-width: 767px)').matches) {
                    //Sólo si el cuadro de preview es más pequeño que toda la galeria y hay espacio suficiente.
                    const previewcard = document.querySelector('.preview .card');
                    const allgallery = document.querySelector('.all-gallery');
                    if(previewcard && allgallery) {
                        const alturapreview = previewcard.offsetHeight;
                        if (allgallery.offsetHeight - 6 > alturapreview
                            && window.innerHeight - 220 > alturapreview) {

                            //Tomo como valor de referencia el final de campo de texto.
                            //Si llega ahí el scroll (+ el tamaño del menú) empiezo a mover el preview
                            const editor = document.querySelector('.editr');
                            const scroll = document.documentElement.scrollTop + 56;
                            const startin = editor.offsetHeight + editor.offsetTop;
                            if (scroll > startin) {
                                this.previewHight = scroll - startin - 10;
                            } else {
                                this.previewHight = 0;
                            }
                        } else {
                            this.previewHight = 0;
                        }
                    }
                }else{
                    this.previewHight = 0;
                }

            },
            reset: function(e){
                this[e]=false;
                this.errorfeedback='';
            },
            remove: function(img){
                const index = this.adoption.media.indexOf(img);
                if(index > -1){
                    this.adoption.media.splice(index,1);
                    this.removelist.push(img);
                    if(this.adoption.cover === img){
                        this.adoption.cover = null;
                    }
                    this.numimg = this.$refs.myVueDropzone.getQueuedFiles().length + this.adoption.media.length;
                }
            },
            setCover: function(img){
                this.adoption.cover = img;
                this.uuidselected = null;
            },
            addIdToImage: function(file, xhr, formData){
                formData.append('adoption', this.adoption._id);
                if(file.upload.uuid === this.uuidselected){
                    formData.append('cover', true);
                }
            },
            removeImage: function(file){
                if(file.upload.uuid === this.uuidselected){
                    this.uuidselected = null;
                    this.adoption.cover = null;
                }
                this.numimg = this.$refs.myVueDropzone.getQueuedFiles().length + this.adoption.media.length;
            },
            finishImages: function(){
                if(this.loading) {
                    this.$router.push("/adoption/" + this.adoption._id);
                    this.loading = false;
                }
            },
            thumbnailgen: function(file/*, dataUrl*/){
                //Se genera la imagen en el listado de subidas y entonces le pongo el botón de "principal"

                const uuid = file.upload.uuid;

                const btnString = `<a style="bottom: 65px;" class="dz-remove" href="javascript:undefined;">Principal</a>`;
                const template = document.createElement('template');
                template.innerHTML = btnString;
                const btn = template.content.firstChild;
                const that = this;
                btn.addEventListener("click", function(){
                    that.uuidselected = uuid;
                    that.adoption.cover = file.dataURL;
                });

                file.previewTemplate.append(btn);
                this.numimg = this.$refs.myVueDropzone.getQueuedFiles().length + this.adoption.media.length;
            },
            onSubmit: async function(){

                this.loading = true;

                this.errorname = !this.adoption.name;
                this.errorbody = !this.adoption.text;
                this.errorsex = !this.adoption.sex;
                this.erroranimal = !this.adoption.animal;

                if(!this.adoption._id && !this.uuidselected){
                    this.errorcover = true;
                }else if(this.adoption._id && !this.adoption.cover && !this.uuidselected){
                    this.errorcover = true;
                }


                if(!this.errorname && !this.errorbody && !this.errorsex && !this.erroranimal && !this.errorcover){
                    //Subir los datos.
                    const type = this.$route.params.id ? "PUT" : "POST";
                    const id = this.$route.params.id ? this.$route.params.id : "";
                    //Lo clono para poder quitar el cover, que en nuevo no se procesa y me ahorro toda esa transferencia
                    const adoptionclone = Object.assign({}, this.adoption);

                    let backupcover = null;
                    if(!this.adoption._id) {
                        backupcover = adoptionclone.cover; //La copio para que no se quite la preview de repente
                        adoptionclone.cover = undefined;//No subir la imagen de la preview.
                        adoptionclone._id = undefined;
                    }
                    try {
                        if(this.adoption._id && this.removelist.length > 0){
                            //Si hay fotos para borrar es lo primero que hago, elimino todas las de la lista.
                            let promises = [];
                            for(let index in this.removelist){
                                const itemtoremove = this.removelist[index];
                                promises.push(this.request("/adoption/image/"+itemtoremove,"delete"));
                            }
                            await this.requestAll(promises);
                        }
                        const newAdoption = await this.request("/adoption/" + id, type,adoptionclone);
                        this.adoption = newAdoption.data;
                        if(backupcover) this.adoption.cover = backupcover;
                        if(this.$refs.myVueDropzone.getQueuedFiles().length === 0){
                            this.finishImages();
                        }else {
                            this.$refs.myVueDropzone.processQueue();
                        }
                    }catch(e){
                        this.errorfeedback=e.response.data.message;
                        this.loading = false;
                    }
                }else{
                    this.errorfeedback = "Tienes errores en el formulario, por favor, revísalo";
                    this.loading = false;
                }

            },
            tabtoeditor(){
                document.querySelector('.editr--content').focus();
            }
        }
    }
</script>

<style lang="scss" scoped>

    @import '~vue2-dropzone/dist/vue2Dropzone.css';

    .sex-group, .animal-group{
        display: block;
    }
    div.form-control:not(.editr){
        border: 0px;
        padding: 0px;
    }
    .invalid-feedback-my{
        font-size: 80%;
    }


    .galleryUploaded {
        .wrapper{
            margin: 5px 0;
            border: 1px solid #aaa;
            padding: 5px;
        }
        .buttons{
            position: absolute;
        }
        img {
            width: 100%;
        }
    }

    .preview{
        //margin-bottom: -1px;
    }
    .all-gallery{
        height: 100%;
    }



</style>

<style lang="scss">

    /* Borrar la barra de progreso hasta que le de a guardar*/
    #formAdoption:not(.loading) .dz-progress{
        display: none;
    }
    /* Oculto el botón de cancelar */
    #formAdoption.loading .dz-remove{
        display:none;
    }

    .editr--content[contenteditable=true]:empty:before{
        content: "Escribe aquí la información pertinente..." !important;
    }
    .editr{
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &.is-invalid {
            border-color: #dc3545;
        }
    }

</style>