<template>
    <section class="features-icons">

        <transition name="fade" mode="out-in">

            <form key="1" v-if="!initloading" novalidate @submit.prevent="onSubmit">
                <div class="form-group">
                <label for="titulo">Titulo:</label>
                    <input @keydown.tab.prevent="tabtoeditor" @focus="reset('errortitle')" v-bind:class="{'is-invalid': errortitle}" class="form-control" id="titulo" required v-model="article.title">
                    <div class="invalid-feedback">
                        El título no puede estar vacio
                    </div>

                </div>
                <div class="form-group">
                    <label>Cuerpo:</label>

                    <wysiwyg v-bind:class="{'is-invalid': errorbody}" v-model="article.text" ></wysiwyg>

                    <div v-if="errorbody" class="invalid-feedback-my text-danger">
                        El cuerpo no puede estar vacio
                    </div>
                </div>

                <div class="form-group">
                    <label for="label">Etiquetas:</label>
                    <div class="row">
                        <div class="col-12 col-sm-4 ">
                            <div id="input-tags-group" class="input-group mb-3">

                                <!--<input class="form-control" type="text" id="label" v-model="tag"> -->
                                <inputAutoComplete
                                        :data="taglist"
                                        id="label"
                                        v-model="tag"
                                        @keyenter="addtag"
                                ></inputAutoComplete>


                                <div class="input-group-append">
                                    <button @click="addtag" class="btn btn-outline-success" type="button">Añadir</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-8">

                            <ul class=" list-inline">
                                <li class="list-inline-item btn btn-outline-info btn-sm" v-for="tag in article.tags"  v-bind:key="tag">
                                    <span>{{tag}}</span>
                                    <button @click="removetag(tag)" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="form-group button-submit-form">
                    <button class="float-right btn btn-primary loadder" type="submit">
                        <span :class="{visible: !loading}" >{{article._id ? 'Guardar' : 'Publicar'}}</span>
                        <span :class="{visible: loading}">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </button>
                    <span id="errorinfo" class="text-danger">{{errorfeedback}}</span>
                </div>
            </form>

            <div key="3" v-if="initloading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>

    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import inputAutoComplete from '../components/InputAutoComplete';
    import EventBus from '../eventBus';

    export default {
        name: "new",
        data: function() {
            return {
                article: {
                    title: "",
                    text: "",
                    tags: []
                },
                errortitle: false,
                errorbody: false,
                errorfeedback: "",
                loading: false,
                tag: "",
                initloading: true,
                taglist: []
            }
        },
        components:{
            'inputAutoComplete':inputAutoComplete
        },
        computed: mapState({
            user:'user'
        }),
        watch: {
            //Necesito hacerlo así enrevesado porque wysiwyg no me proporciona callback de focus.
          'article.text': function(){
              this.reset("errorbody");
          }
        },
        mounted: function(){
            if(!this.$route.params.id) {
                this.capturetab();
            }
        },
        methods:{
            onSubmit: async function(){
                this.loading = true;
                if(this.article.title.length === 0){
                    this.errortitle=true;
                }
                if(this.article.text.length === 0){
                    this.errorbody=true;
                }
                if(!this.errorbody && !this.errortitle){
                    try {
                        const type = this.$route.params.id ? "PUT" : "POST";
                        const id = this.$route.params.id ? this.$route.params.id : "";
                        const newpost = await this.request("/article/"+id, type, this.article);

                        EventBus.$emit('show-info', {
                            type: "success",
                            txt: type==="PUT" ? "Se ha editado el artículo" : "Se ha creado el artículo"
                        });

                        this.$router.push("/article/"+newpost.data._id);
                    }catch(e){
                        this.errorfeedback=e.response.data.message;
                    }
                }
                this.loading = false;
            },
            reset: function(e){
                this[e]=false;
            },
            addtag(){
                if(this.tag && this.tag !== "") {
                    this.article.tags.push(this.tag);
                    this.tag = "";
                    //Borrar duplicados
                    const that = this;
                    this.article.tags = this.article.tags.filter(function(item, pos) {
                        return that.article.tags.indexOf(item) === pos;
                    });
                }
            },
            removetag(key){
                this.article.tags.splice(this.article.tags.indexOf(key),1);
            },
            tabtoeditor(){
                document.querySelector('.editr--content').focus();
            },
            capturetab(){
                document.querySelector('.editr--content').addEventListener("keydown", function (e) {
                    if (e.keyCode === 9) {
                        e.preventDefault();
                        document.querySelector('#label').focus();
                    }
                });
            }
        },
        created: async function(){
            if(this.user.token===null){
                this.$router.push("/login");
            }else {
                const idarticle = this.$route.params.id;
                if (idarticle) {
                    const article = await this.request("/article/" + idarticle);
                    this.article = article.data;
                }
                this.initloading = false;
                const taglist = await this.request("/article/tags");
                this.taglist = taglist.data;
                const that = this;
                setTimeout(function() {
                    if (idarticle) that.capturetab();
                },500);

            }
        }
    }
</script>

<style scoped>

    #errorinfo{
        margin: 10px;
    }
    .invalid-feedback-my {
        font-size: 80%;
    }
    #label{
        border-bottom-left-radius:.25rem;;
        border-top-left-radius:.25rem;;
    }
    .close span{
        font-size: 60%;
        position:relative;
        top:-3px;
        margin-left:5px;
    }
    .list-inline-item{
        margin-bottom: .5rem;
    }
    @media (max-width: 576px) {
        .button-submit-form {
            padding-bottom: 15px;
        }
    }



</style>

<style lang="scss">
    .editr--content[contenteditable=true]:empty:before{
        content: "Escribe aquí el contenido del articulo..." !important;
    }
    .editr{
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &.is-invalid {
            border-color: #dc3545;
        }
    }

    /* El input de los tag lo ajusto al 100% del div, teniendo en cuenta el tamaño del botón fijo*/
    #input-tags-group{
        $size-button: 80px;
        .autocomplete{
            width: calc(100% - #{$size-button} + 1px);
            //El +1 es porque boostrap le aplica margin-left: -1 al botón para que no salte de linea.
        }
        button{
            width: $size-button;
        }
    }


</style>