<template>

    <section class="features-icons">

        <div class="row rowbotones">
                <div class="col-sm-12">
                    <router-link v-if="user.token && (user.permissions & ROLE_LIST.article.w)" class="float-left btn btn-primary" to="/article/new">
                        <span class="d-sm-none d-md-inline">Escribir nuevo artículo</span>
                        <span class="d-sm-inline d-none d-md-none">Nuevo artículo</span>
                    </router-link>

                    <form id="searchform" @submit.prevent="clicksearch" class="d-inline-block">
                        <div  class="input-group">
                            <input id="search" class="form-control" type="search" v-model="search" placeholder="Buscar" aria-label="Search">
                            <i @click="search = ''" class="far fa-times-circle"></i>
                            <div class="input-group-append">
                                <button id="searchbtn" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>

                    <transition name="fade" mode="out-in">
                        <div key="1" class="float-right" v-if="articles.length !== 0">
                            <button @click="setorder('date')" class="btn btn-success">
                                <i class="left fas fa-calendar"></i>
                                <span class="d-sm-none d-lg-inline"> Ordenar por fecha</span>
                                <i v-if="orderby === 'date' && order===1" class="right fas fa-sort-up"></i>
                                <i v-if="orderby === 'date' && order===-1" class="right fas fa-sort-down"></i>
                                <i v-if="orderby !== 'date'" class="right fas fa-sort"></i>
                            </button>
                            <button @click="setorder('numcomments')" class="btn btn-success">
                                <i class="left fas fa-comments"></i>
                                <span class="d-sm-none d-lg-inline">Ordenar por número de comentarios</span>
                                <i v-if="orderby === 'numcomments' && order===1" class="right fas fa-sort-up"></i>
                                <i v-if="orderby === 'numcomments' && order===-1" class="right fas fa-sort-down"></i>
                                <i v-if="orderby !== 'numcomments'" class="right fas fa-sort"></i>
                            </button>
                        </div>

                    </transition>

                </div>
        </div>

        <transition name="fade" mode="out-in">


            <div key="3" v-if="!loading">

                <articleview v-for="(data) in articles" v-bind:key="data._id" v-bind:data="data" v-bind:type="'list'"></articleview>

                <div class="row empty-list" v-if="articles.length===0">
                    <div class="col-12">
                        <h3 class="text-center" >No se ha encontrado ningún artículo</h3>

                        <p v-if="(ROLE_LIST.article.w & user.permissions)">
                            Puedes escribir uno pulsando el botón de escribir artículo en la parte superior
                        </p>

                        <img src="../assets/emptylist.png">

                    </div>
                </div>


                <pagination v-if="totalrecords > 5"
                            v-bind:names="['artículo','artículos']"
                            v-bind:options="[10,20,50]"
                            v-bind:display="5"
                            v-bind:total="totalrecords"
                            v-bind:page="page"
                            v-bind:perpage="perpage"
                            @changepage="changepage"
                            @changeperpage="changeperpage"
                ></pagination>

            </div>


            <div key="1" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>
        </transition>


    </section>


</template>

<script>
    import ArticleComponent from '../components/ArticleComponent.vue';
    import Pagination from '../components/pagination.vue';
    import {mapState} from 'vuex';

    export default {
        name: "articles",
        data: function(){
            return {
                articles: [],
                orderby: 'date',
                order: -1,
                search: "",
                perpage: 10,
                page: 1,
                totalrecords: null,
                loading: true
            }
        },
        components: {
            'articleview':ArticleComponent,
            'pagination': Pagination
        },
        watch: {
            '$route.query': function(){
                this.cargar();
            },
            '$route.params.tag': function(){
                this.cargar();
                this.search = null;
            }
        },
        computed: mapState({
            user:'user'
        }),
        created: async function(){

            this.cargar();
        },
        methods: {
            cargar: async function(){

                this.loading = true;

                this.search = this.$route.query.search || '';
                this.orderby = this.$route.query.orderby || this.orderby;
                this.order = parseInt(this.$route.query.order || this.order);
                this.perpage = parseInt(this.$route.query.perpage || this.perpage);
                this.page = parseInt(this.$route.query.page || this.page);

                let query = this.$route.query;
                query.page = this.page;
                query.perpage = this.perpage;

                if(this.$route.params.tag){
                    query.tag = this.$route.params.tag;
                }
                try{
                    const data = await this.request("/article","GET",query);

                    this.articles = data.data.result;
                    this.totalrecords = data.data.totalRecords;
                }catch (e){
                    console.log(e);
                    this.articles = [];
                }finally {
                    this.loading = false;
                }
            },
            setorder: function(name){
                if(this.orderby === name){
                    this.order = this.order*-1;
                }else{
                    this.orderby = name;
                    this.order = -1;
                }
                this.page = 1; //Reinicio la página al cambiar el orden
                this.parameterurl();
            },
            clicksearch: function(){
                this.page = 1; //Reinicio la página al buscar
                this.parameterurl();
            },
            changepage: function(page){
                this.page = page;
                this.parameterurl();
            },
            changeperpage: function(perpage){
                this.perpage = perpage;
                this.parameterurl();
            },
            parameterurl: function(){
                let name = "articles";
                if(this.$route.params.tag){
                    name = "search articles by tag";
                }
                let data =
                    {
                        name: name,
                        query: {
                            search: this.search,
                            orderby: this.orderby,
                            order: this.order,
                            perpage: this.perpage,
                            page: this.page
                        }
                    };

                if(this.$route.params.tag){
                    data.params = {tag: this.$route.params.tag};
                }

                //No hago scroll en la última página porque salen gliches gráficos.
                if(this.page <= Math.floor(this.totalrecords/this.perpage))
                    window.scroll({top: 0, behavior: 'smooth'});
                this.$router.push(data);
            }
        }
    }
</script>

<style scoped lang="scss">

    .postrow{
        padding: 15px;
    }

    @media (min-width: 576px) {
        .input-group {
            margin-left: 5px;
        }
    }

    @media (max-width: 576px){
        #searchform{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .input-group-append .btn{
        margin-left:0!important;
    }



    .postwrapper{
        display: contents;
    }


    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        #searchform{
            width: 225px;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        #searchform{
            width: 225px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        #searchform{
            width: 200px;
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        #searchform{
            width: 300px;
        }
    }



</style>