<template>

    <section class="features-icons">

        <transition name="fade" mode="out-in">

            <div key="1" v-if="!loading">

                <div v-if="postdata">

                    <componentarticle v-if="postdata !== null" v-bind:key="postdata._id" v-bind:data="postdata" v-bind:type="'unique'"></componentarticle>

                    <div class="row" v-if="postdata.comments.length !== 0">
                        <div class="col">
                            <div class=" edit-tiny-buttons float-right">
                                <button @click="setorder('date')" class="btn btn-success">
                                    <i class="left fas fa-calendar"></i>
                                    <span class=" d-inline"> Ordenar por fecha</span>
                                    <i v-if="orderby === 'date' && order===1" class="right fas fa-sort-up"></i>
                                    <i v-if="orderby === 'date' && order===-1" class="right fas fa-sort-down"></i>
                                    <i v-if="orderby !== 'date'" class="right fas fa-sort"></i>
                                </button>
                                <button @click="setorder('countvotes')" class="btn btn-success">
                                    <i class="far fa-thumbs-up"></i>
                                    <span class=" d-inline"> Ordenar por valoración</span>
                                    <i v-if="orderby === 'countvotes' && order===1" class="right fas fa-sort-up"></i>
                                    <i v-if="orderby === 'countvotes' && order===-1" class="right fas fa-sort-down"></i>
                                    <i v-if="orderby !== 'countvotes'" class="right fas fa-sort"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <transition-group name="list-complete" tag="div">
                        <componentcomment @remove="onChildRemove"
                                          @edit="onChildEdit"
                                          v-if="postdata.comments !== null" v-for="(datacomment) in postdata.comments"
                                          v-bind:key="datacomment._id" v-bind:data="datacomment" v-bind:type="'list'">

                        </componentcomment>
                    </transition-group>

                    <div v-if="user.token && (user.permissions & ROLE_LIST.comment.w)" class="row comment">

                        <div class="col-12">

                            <div class="card">

                                <div class="card-body">

                                    <div class="usercommentprofile float-left">
                                        <img class="avatar" :src="avatar(user)" alt="Foto de perfil" />
                                        <br>
                                        {{user.name}}
                                    </div>
                                    <div class="usercommenttext float-right">
                                        <div class="row">
                                            <div class="col commentbody">
                                                <textarea class="float-left form-control" placeholder="Escribe aquí tu comentario" v-model="comment"></textarea>
                                                <button @click="newcomment" class="enviacomentario float-right btn btn-success">

                                                    <span v-if="!loadingsend">
                                                        <i class="far fa-comment"></i>
                                                        <br>
                                                        Enviar
                                                    </span>
                                                    <span v-if="loadingsend">
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>

                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div v-if="postdata === null">
                    <e404></e404>
                </div>

            </div>

            <div key="3" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>


        </transition>




        <!-- confirmación para borrar un comentario -->
        <confirm-modal
                v-bind:show="commentremoveid"
                v-bind:loading="loadingremovecomment"
                v-bind:title="'Eliminar comentario'"
                v-bind:text="'¿Estas seguro de que quieres borrar este comentario?'"
                v-bind:cancel-text="'No'"
                v-bind:confirm-text="'Borrar comentario'"
                v-bind:icon-confirm="'fa-trash-alt'"
                v-bind:icon-cancel="'fa-undo'"
                @onClose="commentremoveid = null"
                @onConfirm="removeComment"
        ></confirm-modal>


    </section>

</template>

<script>
    import ArticleComponent from '../components/ArticleComponent.vue';
    import e404 from '../components/e404.vue';
    import ConfirmModal from '../components/ConfirmModal.vue';
    import comment from '../components/CommentComponent.vue';
    import EventBus from '../eventBus';
    import {mapState} from 'vuex';

    export default {
        name: "articleview",
        data: function(){
            return {
                postdata: null,
                comment: "",
                loadingsend: false,
                loading: true,
                commentremoveid: null,
                loadingremovecomment: false,
                orderby: 'date',
                order: 1,
            }
        },
        components: {
            'componentarticle':ArticleComponent,
            'e404':e404,
            'componentcomment': comment,
            'confirm-modal': ConfirmModal
        },
        computed: mapState({
            user:'user'
        }),
        created: async function(){

            try {
                const idarticle = this.$route.params.id;
                const postreq = await this.request("/article/" + idarticle);
                this.postdata = postreq.data;
                for(let index in this.postdata.comments){
                    this.postdata.comments[index].countvotes = this.countvotes(this.postdata.comments[index]);
                }
                document.title = document.title  +' '+ this.postdata.title;
            }catch(e){
                this.postdata=null;
            }

            this.loading = false;
        },
        methods:{

            newcomment: async function(){
                if(this.comment !== "") {
                    this.loadingsend=true;
                    const data = {
                        article: this.postdata._id,
                        text: this.comment
                    };
                    try {
                        const newcomment = await this.request("/comment", "POST", data);
                        const commentdata = newcomment.data;
                        commentdata.countvotes = 0;
                        this.postdata.comments.push(commentdata);
                        this.comment="";
                        this.reorder();
                    }catch(e){
                        EventBus.$emit('show-info', {
                            type: "danger",
                            txt: e.response.data.message
                        });
                    }finally {
                        this.loadingsend=false;
                    }
                }
            },
            onChildRemove: async function(id){
                this.commentremoveid = id;
            },
            onChildEdit: async function(data){
                for(let index in this.postdata.comments){
                    if(this.postdata.comments[index]._id === data._id){
                        data.countvotes = this.countvotes(data);
                        this.$set(this.postdata.comments, index, data);
                        break;
                    }
                }
            },
            removeComment: async function(){
                try {
                    await this.request("/comment/"+this.commentremoveid,"DELETE");
                    for (let index in this.postdata.comments) {
                        if (this.postdata.comments[index]._id === this.commentremoveid) {
                            this.postdata.comments.splice(index, 1);
                            break;
                        }
                    }
                    this.commentremoveid = null;
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                }
            },
            setorder: function(name){
                if(this.orderby === name){
                    this.order = this.order*-1;
                }else{
                    this.orderby = name;
                    this.order = 1;
                }
                this.reorder();
            },
            reorder: function(){
                const that = this;
                return this.postdata.comments.sort(function (a, b) {
                    if(that.orderby === 'date') {
                        if (new Date(a.date) < new Date(b.date)) {
                            return -1 * that.order;
                        } else if (new Date(a.date) > new Date(b.date)) {
                            return that.order;
                        } else {
                            return 0;
                        }
                    }else{
                        if(a[that.orderby] <b[that.orderby]) {
                            return -1 * that.order;
                        } else if (a[that.orderby] > b[that.orderby]) {
                            return that.order;
                        } else {
                            return 0;
                        }
                    }
                });
            },
            countvotes: function(comment){
                if(comment.vote.length === 0) return 0;
                let count = 0;
                for(let index in comment.vote){
                    count+=comment.vote[index].vote;
                }
                return count;
            }
        }
    }
</script>

<style lang="scss" scoped>

    $commentprofilew: 100px;

    $buttonW: 75px;

    .usercommentprofile{
        width: $commentprofilew;
        text-align: center;
        font-size: 10px;
        .avatar{
            margin-right: 0px !important;
        }
    }
    .usercommenttext{
        width: calc(100% - #{$commentprofilew});
    }

    .avatar{
        height: 40px;
        width: 40px;
        margin-top:5px;
    }


    .comment{

        .card-body{
            padding-left: 0px;
            padding-bottom:5px;
        }
        textarea{
            height: 100%;
            width: calc(100% - #{$buttonW});
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;


        }
    }

    .enviacomentario{
        width: $buttonW;
        height: 65px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }


</style>

<style lang="scss">
    @media (min-width: 576px) {
        .comment:not(.tiny) {
            margin-left: 30px !important;
        }
    }
</style>
