<template>

    <section class="features-icons">

        <e404></e404>

    </section>

</template>

<script>
    import e404 from '../components/e404';

    export default {
        name: "error404.vue",
        components:{
            'e404': e404
        }
    }
</script>

<style scoped>

</style>