<template>

  <section class="features-icons">

    <div class="unique">

        <div class="jumbotron jumbotron-fluid">
            <img class="backgroundimg" :src="backgroundimg">
            <div class="container">
                <h1 class="display-4">¡Bienvenido a Huellas!</h1>
                <p class="lead">Aquí puedes encontrar animales que están esperando un hogar y artículos en nuestro blog con todo tipo de información para tus mascotas, ¡No olvides dejar un comentario si te interesa algún artículo!.</p>
            </div>
        </div>


        <div class="row">

            <!-- Ultimos artículos -->
            <div class="col-12 col-md-4">
                <div class="card card-tiny-list">
                    <div class="card-body">
                        <h5 class="card-title">Últimos artículos en nuestro blog</h5>

                        <transition name="fade" mode="out-in">


                            <div key="3" v-if="!loading">
                                <article-component v-for="(data) in articles" v-bind:key="data._id" v-bind:data="data" v-bind:type="'tiny'"></article-component>
                                <br>
                                <h6 v-if="articlecount > 5">Tenemos un total de {{articlecount}} artículos en nuestro blog.</h6>
                                <h6 v-if="articlecount < 5 && articlecount > 0">Pronto tendremos más artículos interesantes para ti</h6>
                                <h6 v-if="articlecount === 0">Aún no tenemos artículos en nuestro blog</h6>
                            </div>

                            <div key="1" v-if="loading" class="row rowloading">
                                <div class="loadingbar">
                                    <span></span>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>

            <!-- mascotas -->
            <div class="col-12 col-md-4">

                <div class="card  card-tiny-list">
                    <div class="card-body">
                        <h5 class="card-title">Mascotas que buscan un hogar</h5>

                        <transition name="fade" mode="out-in">


                            <div key="3" v-if="!loading">
                                <adoption-component v-for="(data) in adoptions" v-bind:key="data._id" v-bind:data="data" v-bind:type="'tiny'"></adoption-component>
                                <br>
                                <h6 v-if="adoptionscount > 5">{{adoptionscount}} amigos de cuatro patas están esperando una nueva familia, ¿podrías ser tú?</h6>
                                <h6 v-if="adoptionscount < 5 && adoptionscount > 1">Estas {{adoptionscount}} mascotas pueden ser adoptadas</h6>
                                <h6 v-if="adoptionscount === 1">¡Sólo hay una mascota pendiente de un hogar!</h6>
                                <h6 v-if="adoptionscount === 0">Por ahora no tenemos a nadie esperando un hogar.</h6>
                            </div>

                            <div key="1" v-if="loading" class="row rowloading">
                                <div class="loadingbar">
                                    <span></span>
                                </div>
                            </div>
                        </transition>
                    </div>

                </div>

            </div>

            <!-- Comentario -->
            <div class="col-12 col-md-4">
                <div class="card  card-tiny-list">
                    <div class="card-body">
                        <h5 class="card-title">Últimos comentarios</h5>

                        <transition name="fade" mode="out-in">


                            <div key="3" v-if="!loading">
                                <comment-component v-for="(data) in comments" v-bind:key="data._id" v-bind:data="data" v-bind:type="'tiny'"></comment-component>
                                <br>
                                <h6 v-if="commentscount > 0">Todos nuestros artículos tienen un total de {{commentscount}} comentarios.</h6>
                                <h6 v-if="commentscount === 0">Por ahora no hay comentarios, ¡Puedes ser el primero!.</h6>
                            </div>

                            <div key="1" v-if="loading" class="row rowloading">
                                <div class="loadingbar">
                                    <span></span>
                                </div>
                            </div>
                        </transition>
                    </div>

                </div>

            </div>

        </div>


                <!--
              <div class="row">
                <div class="col-sm-2">

                    <div class="form-group">
                        <button class="btn btn-danger loadder" type="button" @click="poblarbbdd">
                          <span :class="{visible: !loading}" >Poblar base de datos articulos, comentarios y usuarios con valores aleatorios</span>
                          <span :class="{visible: loading}">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label>Nº usuarios:</label>
                        <input class="form-control" type="number" required v-model="numUsers">
                    </div>
                    <div class="form-group">
                        <label>Nº artículos:</label>
                        <input class="form-control" type="number" required v-model="numArticles">
                    </div>
                    <div class="form-group">
                        <label>Nº comentarios:</label>
                        <input class="form-control" type="number" required v-model="numComments">
                    </div>


                </div>
              </div>-->
    </div>
  </section>
</template>

<script>

    import {mapState} from 'vuex';
    import article from '../components/ArticleComponent.vue';
    import comment from '../components/CommentComponent.vue';
    import adoption from '../components/AdoptionComponent.vue';

    export default {

        name: 'home',
        components: {
            'articleComponent' : article,
            'commentComponent' : comment,
            'adoptionComponent': adoption
        },
        data: function() {
            return {
                loading: true,
                articles: null,
                comments: null,
                adoptions: null,
                articlecount: null,
                commentscount: null,
                adoptionscount: null,
                backgroundimages: [
                    require('../assets/jumbotronhome/friends.jpg'),
                    require('../assets/jumbotronhome/catanddog.jpg'),
                    require('../assets/jumbotronhome/cat.jpg'),
                    require('../assets/jumbotronhome/dogs.jpg'),
                ]
            }
        },
        computed: {
            backgroundimg() {
                return this.backgroundimages[Math.floor(Math.random() * this.backgroundimages.length)];
            },
            ...mapState({
                user: 'user'
            }),
        },
        created: async function(){

            const articlesPromise = this.request("/article?orderby=date&order=-1&page=1&perpage=5");
            const commentsPromise = this.request("/comment?orderby=date&order=-1&page=1&perpage=5");
            const adoptionsPromise = this.request("/adoption?orderby=date&order=1&page=1&perpage=5");
            const articlesCountPromise = this.request("/article?count=1");
            const commentsCountPromise = this.request("/comment?count=1");
            const adoptionsCountPromise = this.request("/adoption?count=1");

            const [articlesResponse, commentsResponse, adoptionResponse, articlesCountResponse, commentsCountResponse, adoptionCountResponse] =
                await this.requestAll([articlesPromise,commentsPromise,adoptionsPromise,articlesCountPromise,commentsCountPromise,adoptionsCountPromise]);

            this.articles = articlesResponse.data.result;
            this.comments = commentsResponse.data;
            this.adoptions = adoptionResponse.data;

            this.articlecount = articlesCountResponse.data;
            this.commentscount = commentsCountResponse.data;
            this.adoptionscount = adoptionCountResponse.data;

            this.loading = false;


        },
        methods: {
            poblarbbdd: async function(){
                this.loading = true;

                let tokens = [];
                let articles = [];
                const mytoken = this.user.token;
                const numUsers = this.numUsers;
                const numArticles = this.numArticles;
                const numComments = this.numComments; //Repartidos al azar entre los articulos

                let adminroleid;
                let responseRole = await this.request("/role");
                for(let index in responseRole.data){
                    if(responseRole.data[index].special === 1){
                        adminroleid = responseRole.data[index]._id;
                    }
                }

                for(let i = 0;i<numUsers;i++) {
                    let responseData = await this.request("user/", "POST", {
                        name: this.randomtxt(2,8),
                        lastname: this.randomtxt(2,8),
                        email: this.randomtxt(6,8) + "@huellas.com",
                        password: "1234",
                        role: adminroleid
                    });
                    tokens.push(responseData.data.token);
                }

                for(let i = 0;i<numArticles;i++) {
                    this.user.token = tokens[Math.floor(Math.random()*tokens.length)];
                    let responseData = await this.request("article/", "POST", {
                        title: this.randomtxt(5,25),
                        text: this.randomtxt(50,200),
                        tags: [this.randomtxt(2,3),this.randomtxt(2,3)]

                    });
                    articles.push(responseData.data._id);
                }

                for(let i = 0;i<numComments;i++) {
                    this.user.token = tokens[Math.floor(Math.random()*tokens.length)];
                    const article = articles[Math.floor(Math.random()*articles.length)];
                    await this.request("comment/", "POST", {
                        article:article,
                        text: this.randomtxt(5,200)
                    });
                }



                this.user.token = mytoken;
                this.loading = false;
            },
            randomtxt: function(length0, length1){
                const length = Math.floor(Math.random() * length1) + length0;
                let text = "";
                const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
                for (let i = 0; i < length; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                return text;
            }
        },

    }
</script>

<style lang="scss" scoped>
    .rowloading{
        margin-top: 60px;
    }
    .card-title{
        text-align: center;
    }

    .jumbotron{
        background: transparent;
        position: relative;
        overflow: hidden;
        text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;
        border-radius: .25rem;
    }
    .jumbotron img{
        position: absolute;
        z-index: -1;
        width: calc(100% + 10px);  //Estos 10px son para quitar el borde blanco al hacer blur
        height: calc(100% + 10px);
        margin: -5px;
        top: 0;
        object-fit: cover;
        filter: blur(3px);
        opacity: 0.6;

    }
    .jumbotron .container{
        z-index: 10;
    }
    @media (max-width: 576px) {
        .jumbotron{
            margin-top: 5px;
            margin-bottom: 5px;
            h1{
                font-size: 2.7rem;
            }
        }
    }



</style>
