<template>

    <section class="features-icons text-center justify-content-md-center">

        <div class="unique">

            <div class="row">
                <div class="col-sm-12">

                    <div class="card">


                        <article class="card-body">
                            <h4 class="card-title text-center mb-4 mt-1">Indentificación</h4>
                            <hr>
                            <p class="text-danger text-center">{{message}}</p>
                            <form @submit.prevent="onSubmit">


                                <p class="text-center" v-if="facebook">
                                    <span @click="authenticate('facebook')" class="btn btn-block btn-facebook">
                                        <span class="fab fa-facebook"></span>
                                        <span v-if="!loading" >Login con Facebook</span>
                                        <i v-if="loading" class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </p>


                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input name="" class="form-control" placeholder="Tu email" type="email" v-model="email">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        <input class="form-control" placeholder="Tu contraseña" type="password" v-model="password">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <span v-if="!loading" >Entrar</span>
                                        <i v-if="loading" class="fa fa-spinner fa-spin"></i>
                                    </button>
                                </div> <!-- form-group// -->

                                <p class="text-center">
                                    <router-link class="btn btn-success" to="/signup">Regístrate</router-link>
                                </p>


                            </form>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "login",
        data: function(){
            return {
                email: "",
                password: "",
                message: "",
                loading: false,
                poolingInterval: null,
                facebook: process.env.VUE_APP_FB_CLIENT !== ''
            }
        },
        created: function(){
            if(this.user.logged){
                this.$router.push("/myprofile");
            }
        },
        computed: mapState({
            user:'user'
        }),
        destroyed () {
            if(this.poolingInterval) clearInterval(this.poolingInterval);
        },
        methods: {
            onSubmit: async function () {

                this.message = "";
                try {
                    this.loading = true;
                    const response = await this.request("/user/login", "POST", {email: this.email, password: this.password});
                    this.loading = false;

                    this.$store.commit('setUser',{
                        name: response.data.name,
                        lastname: response.data.lastname,
                        logged: true,
                        token: response.data.token,
                        email: this.email,
                        id: response.data._id,
                        permissions: response.data.role.permissions,
                        image: response.data.image
                    });

                    this.$router.go(-1);

                }catch(e){
                    this.message = e.response.data.message;
                    this.loading = false;
                }

            },
            authenticate: async function (provider) {
                this.message = "";
                this.loading = true;


                if(provider === "facebook"){

                    const redirecturl=process.env.VUE_APP_BASE_API_URI +"auth/facebook/";
                    const url = "https://www.facebook.com/v3.0/dialog/oauth?response_type=code&client_id="+
                        +process.env.VUE_APP_FB_CLIENT+
                        "&redirect_uri="
                        +redirecturl
                        +"&display=popup&scope=email";

                    const popup = window.open(url, "Facebook login", 'width=800,height=600')
                    if (this.popup && this.popup.focus) {
                        this.popup.focus()
                    }
                    const that = this;

                    popup.onbeforeunload = function(){
                        clearInterval(this.poolingInterval);
                        this.poolingInterval = null;
                        that.loading = false;
                    };

                    //Tengo que comprobar la ruta así ya que si no estoy logueado el evento se lanza y no
                    //se vuelve a lanzar, y por otra parte si estoy logueado y NO uso el evento puede que la página
                    //No se haya terminado de cargar. Así cubro ambos casos.
                    this.poolingInterval = setInterval(() => {

                        //Compruebo que la redirección es correcta y saco los datos.
                        if (!popup || popup.closed || popup.closed === undefined) {
                            clearInterval(that.poolingInterval);
                            that.poolingInterval = null;
                            that.loading = false;
                            that.message = "Ha ocurrido un error al autentificar con facebook.";
                        }

                        try {
                            const popupPath = popup.location.protocol + '//' + popup.location.hostname +
                                (popup.location.port ? ':' : '') + (popup.location.port || '' ) +
                                (/^\//.test(popup.location.pathname) ? popup.location.pathname : '/' + popup.location.pathname);

                            //Ya se han cargado los datos de facebook
                            if(popupPath === redirecturl){
                                const content = popup.document.body.innerHTML;

                                const parser = new DOMParser();
                                let data;
                                let doc;
                                try {
                                    doc = parser.parseFromString(content, "text/html");
                                    data = JSON.parse(doc.querySelector('pre').innerText);
                                }catch(e){
                                    //"Error pero no pasa nada");
                                    console.log(e);
                                    return;
                                }
                                clearInterval(that.poolingInterval);
                                that.poolingInterval = null;
                                popup.close();

                                if(data._id){
                                    //tengo una Id de mi servidor, a si que loguear.
                                    that.$store.commit('setUser',{
                                        name: data.name,
                                        lastname: data.lastname,
                                        logged: true,
                                        token: data.token,
                                        email: data.email,
                                        id: data._id,
                                        permissions: data.role.permissions,
                                        image: data.image
                                    });
                                    that.loading = false;
                                    that.$router.push("/");
                                }else if(data.fb_user){
                                    //Nuevo usuario, a registrar
                                    that.$router.push({
                                        name: "signup",
                                        params: {
                                            oauth_data: data
                                        }
                                    });
                                }else{
                                    that.message = "Ha ocurrido un error al autentificar con facebook.";
                                }
                            }

                        }catch(e){
                            if(e.constructor.name === "DOMException") {
                                console.log(e);
                                that.message = "No se puede autentificar, la url de la API es diferente a la del cliente.";
                            }else if(e.constructor.name === "SyntaxError"){
                                console.log(e);
                                //En parte es cierto, pero también dará este error mientras estoy logueando con fb, a si que lo ovbio
                                //a falta de manejarlo más adecuadamente.
                                //that.message = "No se puede autentificar, es posible que tu navegador no sea compatible.";
                            }else{
                                console.log(e);
                                that.message = "Ha ocurrido un error al autentificar con facebook.";
                            }

                            if(e.constructor.name !== "SyntaxError") {
                                clearInterval(that.poolingInterval);
                                that.poolingInterval = null;
                                popup.close();
                                that.loading = false;
                            }
                        }

                    },100);


                }
            }
        }
    }
</script>

<style lang="scss" scoped>

    .btn-facebook{
        background-color: #3b5998;
        text-align: center;
        color: #fff;
        position: relative;
        padding-left: 44px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .fab{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 32px;
            line-height: 34px;
            font-size: 1.6em;
            text-align: center;
            border-right: 1px solid rgba(0,0,0,0.2);
            padding: 2px;
            margin: 0px 2px;
        }
        span,i:not(.fab){
            margin-left: -32px;
        }
    }

    @media (min-width: 576px) {
        .card{
            width: 400px;
            margin: 0 auto;
        }
    }


</style>