<template>

    <section class="features-icons">

        <transition name="fade" mode="out-in">

            <profilecomponent v-if="!loading && profile !== null" v-bind:key="profile._id" v-bind:profile="profile" v-bind:type="'unique'"></profilecomponent>

            <div v-if="!loading && profile === null">
                <e404></e404>
            </div>

            <div key="3" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>

    </section>
</template>

<script>

    import Profilec from '../components/ProfileComponent.vue';
    import e404 from '../components/e404.vue';
    import {mapState} from 'vuex';

    export default {
        name: "profile",
        data: function(){
            return {
                profile: {},
                loading: true
            }
        },
        created: async function(){
            await this.cargar();
        },
        watch: { //para navegar entre perfiles. Si no, no recarga los datos.
            '$route.params.id': function(){
                this.cargar();
            }
        },
        components: {
            'profilecomponent':Profilec,
            'e404':e404,
        },
        computed: mapState({
            user:'user'
        }),
        methods: {
            cargar: async function(){

                this.loading = true;

                const idUser = this.$route.params.id || this.user.id;
                if (idUser === this.user.id) this.me = true;

                try {

                    if (idUser) {
                        const response = await this.request("/user/" + idUser);
                        this.profile = response.data;
                        if (this.$route.params.id) document.title = document.title  +' de '+ this.profile.name;

                    } else {
                        this.$router.push("/");
                    }

                }catch(e){
                    this.profile = null;
                }finally {
                    this.loading = false;
                }

            }
        }
    }
</script>

<style scoped>



</style>