<template>

    <section class="features-icons">

        <div class="row rowbotones">

            <div class="col">

                <button @click="newRole" class="btn btn-primary">
                    Nuevo rol
                </button>

            </div>


        </div>

        <transition name="fade" mode="out-in">

            <transition-group key="3" v-if="!loading" name="flip-list" class="postwrapper" tag="div">
                <role-component @remove="onChildRemove"
                                @new="onChildNew"
                                @edit="onChildEdit"
                                v-for="(data) in roles" v-bind:key="data._id" v-bind:data="data"></role-component>

            </transition-group>

            <div key="1" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>

        </transition>

    </section>


</template>

<script>
    import {mapState} from 'vuex';
    import RoleComponent from '../components/RoleComponent';

    export default {
        name: "Roles",
        data: function(){
            return {
                loading: true,
                roles: []
            }
        },
        computed: mapState({
            user:'user'
        }),
        components: {
            'role-component':RoleComponent
        },
        created: async function(){

            const roles = await this.request("/role/");
            this.roles = roles.data;


            this.loading = false;

        },
        methods: {
            onChildRemove: function(id){
                for (let index in this.roles) {
                    if (this.roles[index]._id === id) {
                        this.roles.splice(index, 1);
                        break;
                    }
                }
            },
            newRole: function(){
                this.roles.unshift({
                    _id: 'new',
                    name: '',
                    icon: 'fas fa-user',
                    permissions: 0,
                    users: 0,
                    special: 0
                });
            },
            onChildNew: function(data){
                this.roles.unshift(data);
            },
            onChildEdit: function(data){
                for(let index in this.roles){
                    if(this.roles[index]._id === data._id){
                        this.$set(this.roles, index, data);
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>