<template>

    <section class="features-icons text-center justify-content-md-center">

        <div class="unique">

            <div class="row">
                <div class="col-sm-12">

                    <div class="card">


                        <article class="card-body">
                            <h4 class="card-title text-center mb-4 mt-1">
                                <span v-if="!editing">Registro</span>
                                <span v-if="editing">Editar perfil</span>
                            </h4>
                            <hr>
                            <p class="text-danger text-center">{{message}}</p>
                            <form novalidate @submit.prevent="onSubmit">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input name="name" class="form-control" placeholder="Tu nombre" type="text" v-model="user.name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input name="lastname" class="form-control" placeholder="Tu apellido" type="text" v-model="user.lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                        </div>
                                        <input name="email" class="form-control" placeholder="Tu email" type="email" v-model="user.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        <input class="form-control" :placeholder="editing ? 'Editar contraseña' : 'Tu contraseña'" type="password" v-model="user.password">
                                    </div>
                                </div>

                                <div v-if="roles" class="form-group form-roles">
                                    <label>Asignar un rol de usuario: </label>
                                    <div v-for="role in roles" v-bind:key="role._id" class="d-inline">

                                        <button @click="roleasign(role)" type="button" class="btn btn-outline-info d-inline"
                                                v-tooltip.top="role.name"
                                                :class="{'active':user.role && (role._id === user.role._id || role._id === user.role)}">
                                            <i class="icon" :class="role.icon"></i>
                                        </button>

                                    </div>
                                    <hr>
                                </div>

                                <div class="form-group avatar-form" v-if="editing">

                                    <form enctype="multipart/form-data" novalidate>

                                        <div class="float-left">
                                            <img v-if="!avatarloading" class="avatar" :src="avatar(user)"/>
                                            <i v-if="avatarloading" class="avatar fa fa-sync fa-spin"></i>
                                        </div>

                                        <div class="buttons-avatar float-left">
                                            <label class="btn btn-primary btn-file">
                                                Modificar avatar<input type="file" :disabled="avatarloading" accept="image/*" @change="uploadAvatar">
                                            </label><br>
                                            <button  type="button" v-tooltip.right="'Todos los usuarios tienen un avatar diferente del dibujo de un gatito.'" class="btn btn-warning" @click="defaultAvatar">Avatar por defecto</button>
                                        </div>

                                    </form>

                                </div>

                                <div class="form-group avatar-form" v-if="!editing
                                && oauth_data
                                && oauth_data.fb_user
                                && oauth_data.fb_user.picture.data.url">
                                    <div class="float-left">
                                        <img class="avatar" :src="oauth_data.fb_user.picture.data.url"/>
                                    </div>
                                    <div class="buttons-avatar float-left text-secondary">
                                        No te preocupes, si no te gusta esta foto puedes cambiarla en cuanto estes registrado.
                                    </div>

                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">
                                        <span v-if="!loading" >
                                            <span v-if="!editing">Registrate!</span>
                                            <span v-if="editing">Guardar</span>
                                        </span>
                                        <i v-if="loading" class="fa fa-spinner fa-spin"></i>
                                    </button>
                                </div>
                            </form>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import EventBus from '../eventBus';

    export default {
        name: "signup",
        props: ['oauth_data'],
        data: function(){
            return {
                message: "",
                user: {},
                roles: null,
                loading: false,
                editing: false,
                avatarloading: false
            }
        },
        computed: mapState({
            userLogged:'user'
        }),
        created: async function(){

            //Si estoy entrando a registrarme desde un proveedor de oauth
            if(this.oauth_data){
                if(this.oauth_data.fb_user) {
                    this.user.name = this.oauth_data.fb_user.first_name;
                    this.user.lastname = this.oauth_data.fb_user.last_name;
                    this.user.email = this.oauth_data.fb_user.email;
                    this.user.fb_id =  this.oauth_data.fb_user.id;
                }
            }

            //Registro, pero ya estoy loggeado, voy a mi perfil.
            if(this.$route.params.id === undefined && this.$route.name !== "edit my profile" && this.userLogged.logged){
                this.$router.push("/myprofile");

            }else if(this.$route.params.id !== undefined
            && this.$route.name !== "edit my profile" &&
            !(this.userLogged.permissions & this.ROLE_LIST.user.e) //Compruebo si tengo permisos
            && this.$route.params.id.toString() !== this.userLogged.id.toString()){ //editar perfil ajeno sinpermisos
                this.$router.push("/myprofile");
            }else if(this.$route.params.id || this.userLogged.id){ //Editar mi propio perfil o un admin el de algún usuario
                this.editing =true;
                this.loading=true;
                const response = await this.request("/user/"+(this.$route.params.id || this.userLogged.id));
                this.user = response.data;
                if(this.userLogged.permissions & this.ROLE_LIST.user.e){
                    const roles = await this.request("/role");
                    this.roles = roles.data;
                }
                this.loading=false;
            }

        },
        methods: {
            onSubmit: async function () {

                this.loading=true;
                try{
                    let responseData;
                    if(!this.$route.params.id && this.$route.name !== "edit my profile") {
                        //Registro
                        //Intento coger la imagen que me haya venido de facebook. Si no existe va por el catch y no pasa nada
                        try{
                            this.user.image = this.oauth_data.fb_user.picture.data.url;
                        }catch (e) {
                            //Nothing
                        }
                        await this.request("/user", "POST", this.user);
                        //Me logueo con los datos, ya que si no ha ido por el catch es un registro correcto.
                        responseData = await this.request("/user/login", "POST", {
                            email: this.user.email,
                            password: this.user.password
                        });
                    }else {
                        //Editar
                        if(this.user.password === ""){
                            this.user.password = undefined;
                        }
                        if(typeof this.user.role !== "string"){
                            this.user.role = undefined;
                        }
                        responseData = await this.request("user/"+(this.$route.params.id || this.userLogged.id), "PUT", this.user);
                    }

                    //Estoy editando mi usuario o registrandome
                    if(!this.$route.params.id || (this.$route.params.id.toString() === this.userLogged.id.toString())) {
                        this.loading = false;
                        this.$store.commit('setUser', {
                            name: responseData.data.name,
                            lastname: responseData.data.lastname,
                            logged: true,
                            email: this.user.email,
                            token: responseData.data.token ? responseData.data.token : this.userLogged.token,
                            id: responseData.data._id,
                            permissions: responseData.data.role.permissions,
                            image: responseData.data.image
                        });
                        if(this.$route.params.id) {
                            EventBus.$emit('show-info', {
                                type: "success",
                                txt: "Has editado tu perfil correctamente."
                            });
                        }
                        this.$router.push("/myprofile");
                    }else{ //Soy un admin editando un perfil.
                        EventBus.$emit('show-info', {
                            type: "success",
                            txt: "Se ha modificado el perfil de "+responseData.data.name+" correctamente."
                        });
                        this.$router.go(-1);
                    }

                }catch(e){
                    this.message = e.response.data.message;
                }finally {
                    this.loading=false;
                }
                return false;
            },
            async defaultAvatar(){
                this.avatarloading = true;
                try {
                    await this.request("/user/avatar/" + this.user._id, "DELETE");
                    this.user.image = "";
                }catch(e){
                    this.message = e.response.data.message;
                }finally {
                    this.avatarloading = false;
                }
            },
            async uploadAvatar(event){
                this.avatarloading = true;
                let formData = new FormData();
                if(event.target.files.length === 1) {
                    const file = event.target.files[0];
                    formData.append('image', file);
                    try {
                        const user = await this.filerequest("/user/avatar/" + this.user._id, formData);
                        this.user.image = user.data.image;
                    } catch (e) {
                        this.message = e.response.data.message;
                    }
                }
                this.avatarloading = false;

            },
            roleasign: function(role){
                this.user.role = role._id;
            }
        }
    }
</script>

<style lang="scss" scoped>

    .avatar{
        height: 100px;
        width: 100px;
        &.fa-spin{
            font-size: 30px;
            padding: 33px;
        }
    }

    .avatar-form{
        margin-bottom: 10px;
        display:flex;
    }

    .buttons-avatar{
        margin-left: 10px;
        text-align: left;
        .btn{
            width: 100%;
        }
        input[type=file]{
            display: block !important;
            opacity: 0;
            width: 267px;
            height: 100px;
        }
    }

    @media (min-width: 576px) {
        .card{
            width: 400px;
            margin: 0 auto;
        }
    }

    .form-roles{
        label{
            width: 100%;
            text-align: left;
        }
        .btn{
            margin: 5px;
        }
    }

</style>