<template>

    <section class="features-icons">

        <div class="row rowbotones">

            <div class="col-sm-12">

                <form id="searchform" @submit.prevent="clicksearch" class="d-inline-block">
                    <div  class="input-group">
                        <input id="search" class="form-control" type="search" v-model="search" placeholder="Buscar" aria-label="Search">
                        <i @click="search = ''" class="far fa-times-circle"></i>
                        <div class="input-group-append">
                            <button id="searchbtn" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>

                <transition name="fade" mode="out-in">
                    <div key="1" class="float-right">
                        <button @click="setorder('date')" class="btn btn-success">
                            <i class="left fas fa-calendar"></i>
                            <span class="d-sm-none d-lg-inline"> Fecha de registro</span>
                            <i v-if="orderby === 'date' && order===1" class="right fas fa-sort-up"></i>
                            <i v-if="orderby === 'date' && order===-1" class="right fas fa-sort-down"></i>
                            <i v-if="orderby !== 'date'" class="right fas fa-sort"></i>
                        </button>
                        <button @click="setorder('numcomments')" class="btn btn-success">
                            <i class="left fas fa-comments"></i>
                            <span class="d-sm-none d-lg-inline">Número de comentarios</span>
                            <i v-if="orderby === 'numcomments' && order===1" class="right fas fa-sort-up"></i>
                            <i v-if="orderby === 'numcomments' && order===-1" class="right fas fa-sort-down"></i>
                            <i v-if="orderby !== 'numcomments'" class="right fas fa-sort"></i>
                        </button>
                        <button @click="setorder('numarticles')" class="btn btn-success">
                            <i class="left far fa-file-alt"></i>
                            <span class="d-sm-none d-lg-inline">Número de artículos</span>
                            <i v-if="orderby === 'numarticles' && order===1" class="right fas fa-sort-up"></i>
                            <i v-if="orderby === 'numarticles' && order===-1" class="right fas fa-sort-down"></i>
                            <i v-if="orderby !== 'numarticles'" class="right fas fa-sort"></i>
                        </button>
                    </div>

                </transition>

            </div>

        </div>





        <transition name="fade" mode="out-in">

            <div key="3" v-if="!loading">

                    <profile v-for="(data) in users" v-bind:key="data._id" v-bind:profile="data" v-bind:type="'list'"></profile>

                    <div class="row empty-list" v-if="users.length===0">
                        <div class="col-12">
                            <h3 class="text-center" >No se ha encontrado ningún usuario</h3>


                            <img src="../assets/emptylist.png">

                        </div>
                    </div>

                    <pagination  v-if="totalrecords > 5"
                                v-bind:names="['usuario','usuarios']"
                                v-bind:options="[10,20,50]"
                                v-bind:display="5"
                                v-bind:total="totalrecords"
                                v-bind:page="page"
                                v-bind:perpage="perpage"
                                @changepage="changepage"
                                @changeperpage="changeperpage"
                    ></pagination>


            </div>

            <div key="1" v-if="loading" class="row">
                <div class="loadingbar">
                    <span></span>
                </div>
            </div>
        </transition>


    </section>


</template>

<script>

    import Profile from '../components/ProfileComponent.vue';
    import Pagination from '../components/pagination.vue';

    export default {
        name: "Users",
        data: function(){
            return {
                users: [],
                search: '',
                loading: false,
                orderby: 'date',
                order: -1,
                perpage: 10,
                page: 1,
                totalrecords: null

            }
        },
        components: {
            'profile': Profile,
            'pagination': Pagination
        },
        watch: {
            '$route.query': function(){
                this.cargar();
            }
        },
        created: function(){
            this.cargar();
        },
        methods:{
            cargar: async function(){
                this.loading=true;

                this.search = this.$route.query.search || '';
                this.orderby = this.$route.query.orderby || this.orderby;
                this.order = parseInt(this.$route.query.order || this.order);
                this.perpage = parseInt(this.$route.query.perpage || this.perpage);
                this.page = parseInt(this.$route.query.page || this.page);

                let query = this.$route.query;
                query.page = this.page;
                query.perpage = this.perpage;

                const data = await this.request("/user","GET",query);
                this.users = data.data.result;
                this.totalrecords = data.data.totalRecords;

                this.loading=false;
            },
            setorder: function(name){
                if(this.orderby === name){
                    this.order = this.order*-1;
                }else{
                    this.orderby = name;
                    this.order = -1;
                }
                this.page = 1; //Reinicio la página al cambiar el orden
                this.parameterurl();
            },
            clicksearch: function(){
                this.page = 1; //Reinicio la página al buscar
                this.parameterurl();
            },
            changepage: function(page){
                this.page = page;
                this.parameterurl();
            },
            changeperpage: function(perpage){
                this.perpage = perpage;
                this.parameterurl();
            },
            parameterurl: function(){

                //No hago scroll en la última página porque salen gliches gráficos.
                if(this.page <= Math.floor(this.totalrecords/this.perpage))
                    window.scroll({top: 0, behavior: 'smooth'});

                this.$router.push({
                    path: 'users',
                    query: {
                        search: this.search,
                        orderby: this.orderby,
                        order: this.order,
                        perpage: this.perpage,
                        page: this.page
                    }
                });

            }

        }
    }
</script>

<style scoped>
    @media (max-width: 576px) {
        #searchform {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

</style>