<template>

    <div  :class="[type, addclass, {'col-12 col-md-6 col-xl-3':type==='list'}]"  >

        <div class="row hide-in-tiny">
            <div class="col-sm-12">

                <div class="previewtxt" v-if="addclass === 'preview' && cover">
                    Así se verá la ficha en el listado:
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">

                <div class="card">

                    <!-- Con css hago link a tod0 el elemento -->
                    <router-link :to="'/adoption/'+data._id" class="fill-div" v-if="type === 'list' || type==='tiny'">
                    </router-link>



                    <img class="card-img-top" :src="cover" alt="Card image cap"  v-if="type === 'list'">

                    <div v-if="addclass === 'preview' && !cover" class="alternative-img-top">
                        Esta es una previsualización de como quedará la ficha en el listado,
                        selecciona una imagen pulsando el botón "principal" de cualquiera de las imágenes de la galeria para que aparezca aquí
                    </div>

                    <article class="card-body">

                        <div class="row title">
                            <div class="col-12">
                                <img class="img-tiny" :src="cover" :alt="data.name"  v-if="type === 'tiny'">
                                <h2 class="d-inline-block">{{data.name}}</h2>
                                <br v-if="type === 'list'">
                                <div class="types d-inline-block hide-in-tiny">
                                    <span v-if="data.animal === 'cat'">
                                        <i class="icofont icofont-animal-cat-alt-4"></i>&nbsp;Gato
                                    </span>
                                    <span v-if="data.animal === 'dog'">
                                        <i class="icofont icofont-animal-dog"></i>&nbsp;Perro
                                    </span><br  class="hide-in-list">
                                    <span v-if="data.sex === 'F'">
                                        <i class="fas fa-venus"></i>&nbsp;Hembra
                                    </span>
                                    <span v-if="data.sex === 'M'">
                                        <i class="fas fa-mars"></i>&nbsp;Macho
                                    </span>
                                </div>

                                <div v-if="type === 'unique' && data.adopted === 0" class="float-right adoption-button">
                                    <button @click="adopt = true" type="button" class="btn btn-info btn-lg">
                                        <i class="fas fa-home"></i> Solicitar adopción
                                    </button>
                                </div>
                                <div v-if="type === 'unique' && data.adopted === 1 &&
                                (
                                 ((user.permissions & ROLE_LIST.adoption.w) && user.id === data.user._id) ||
                                  (user.permissions & ROLE_LIST.adoption.e))
                                    " class="float-right adoption-button">
                                    <button @click="checkadopt = true" type="button" class="btn btn-info btn-lg">
                                        <i class="fas fa-home"></i> Comprobar solicitud
                                    </button>
                                </div>

                                <div v-if="(user.permissions & ROLE_LIST.adoption.e) ||
                                         ((user.permissions & ROLE_LIST.adoption.w) && data.user._id.toString() === user.id.toString())" class="float-right buttons edit-tiny-buttons hide-in-list hide-in-tiny" >

                                    <router-link :to="'/adoption/edit/'+data._id" type="button" class="btn btn-warning btn-sm">
                                        <i class="fas fa-edit"></i> Editar
                                    </router-link>
                                    <button @click="removemodal=true" type="button" class="btnremove btn btn-danger btn-sm">
                                                <span v-if="!loadingremove">
                                                    <i class="fas fa-trash-alt"></i> Eliminar
                                                </span>
                                        <span v-if="loadingremove">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </span>
                                    </button>

                                </div>




                            </div>
                        </div>

                        <hr class="hide-in-tiny">

                        <div class="row body hide-in-tiny">
                            <div class="col-12">

                                <div v-html="safeText(data.text)"></div>

                            </div>
                        </div>

                        <hr class="hide-in-tiny">

                        <div class="row gallery" v-if="type === 'unique'">
                            <div class="col-12">
                                <gallery :images="images" :index="index" @close="index = null"></gallery>
                                <div class="imageContainer"
                                    v-for="(image, imageIndex) in images"
                                    :key="imageIndex"
                                    @click="index = imageIndex">

                                    <div class="wrapper">
                                        <img :src="image" />
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row row-numimages hide-in-unique">
                            <div class="col-12">
                                <i class="far fa-images"></i>
                                {{numimg !== undefined ? numimg : images.length}}
                                <span v-if="numimg !== undefined && numimg !== 1 || numimg===undefined && images.length !== 1" class="">imágenes</span>
                                <span v-if="numimg !== undefined && numimg === 1 || numimg===undefined && images.length === 1" class="">imagen</span>
                            </div>
                        </div>



                    </article>
                </div>
            </div>
        </div>

        <!-- confirmación para borrar un artículo -->
        <confirm-modal
                key="1"
                v-bind:show="removemodal"
                v-bind:loading="loadingremove"
                v-bind:title="'Eliminar ficha de adopción'"
                v-bind:text="'¿Estas seguro de que quieres borrar esta ficha? Recuerda que puedes marcarla como adoptada también.'"
                v-bind:cancel-text="'Cancelar'"
                v-bind:confirm-text="'Borrar esta ficha'"
                v-bind:icon-confirm="'fa-trash-alt'"
                v-bind:icon-cancel="'fa-undo'"
                @onClose="removemodal = false"
                @onConfirm="remove"
        ></confirm-modal>

        <!-- Formulario de adopción -->
        <confirm-modal
                key="2"
                v-bind:show="adopt"
                v-bind:loading="adoptloading"
                v-bind:title="'Adoptar a '+data.name"
                v-bind:html="`
                <div class='form-group'>
                    <label for='name'>Tu nombre:</label>
                    <input type='text' required name='name' value='`+user.name+' '+user.lastname+`' class='form-control' id='name' aria-describedby='name' placeholder='Nombre'>
                </div>
                <div class='form-group'>
                    <label for='email'>Tu email:</label>
                    <input type='email' required name='email' value='`+user.email+`' class='form-control' id='email' aria-describedby='name' placeholder='Email'>
                </div>
                <div class='form-group'>
                    <label for='text'>Explica brevemente tu situación y los motivos para adoptar:</label>
                    <textarea required class='form-control' name='text' id='text' rows='3'></textarea>
                </div>
                `"
                v-bind:form="true"
                v-bind:cancel-text="'Cancelar'"
                v-bind:confirm-text="'¡Enviar solicitud!'"
                v-bind:icon-confirm="'fa-home'"
                v-bind:icon-cancel="'fa-undo'"
                v-bind:typeConfirm="'success'"
                v-bind:typeCancel="'danger'"
                @onClose="adopt = false"
                @onConfirm="adoption"
        ></confirm-modal>


        <!-- Formulario de adopción -->
        <confirm-modal v-if="data.adopterData"
                key="3"
                v-bind:show="checkadopt"
                v-bind:loading="adoptloading"
                v-bind:title="'Solicitud de adopción'"
                v-bind:html="`<h6>Datos del solicitante</h6>
                <span class='badge badge-secondary'>Nombre: </span> `+data.adopterData.name+`<br>
                <span class='badge badge-secondary'>Mensaje:</span><br>`+data.adopterData.text+`<br><br>
                <a class='btn btn-sm btn-info' href='mailto:`+data.adopterData.email+`'>Enviar email: `+data.adopterData.email+`</a>`"
                v-bind:cancel-text="'Rechazar'"
                v-bind:confirm-text="'¡Aceptar solicitud!'"
                v-bind:icon-confirm="'fa-home'"
                v-bind:icon-cancel="'fa-times-circle'"
                v-bind:typeConfirm="'success'"
                v-bind:typeCancel="'danger'"
                @onClose="checkadopt = false"
                @onCancel="setAdoption(0)"
                @onConfirm="setAdoption(2)"
        ></confirm-modal>


    </div>

</template>

<script>
    import VueGallery from 'vue-gallery';
    import ConfirmModal from '../components/ConfirmModal.vue';
    import {mapState} from 'vuex';
    import EventBus from '../eventBus';

    export default {
        name: "AdoptionComponent",
        props: ['data','type','addclass','numimg'],
        components: {
            'gallery': VueGallery,
            'confirm-modal': ConfirmModal

        },
        data: function(){
            return {
                images: [],
                cover: "",
                index: null,
                loadingremove: false,
                removemodal: false,
                adopt: false,
                adoptloading: false,
                checkadopt: false
            }
        },
        computed: mapState({
            user:'user'
        }),
        watch: {
            'data.cover':function(newV){
                if(newV){
                    if(newV.startsWith("data:image/")){
                        this.cover = newV;
                    }else{
                        this.cover = process.env.VUE_APP_BASE_API_URI + "adoption/image/" + newV;
                    }
                }else{
                    this.cover = null;
                }
            },
        },
        created: function(){
            for(let index in this.data.media){
                this.images.push(process.env.VUE_APP_BASE_API_URI +"adoption/image/"+this.data.media[index]);
            }
            if(this.data.cover) {
                //Esto solo ocurre un instante, cuando le doy a guardar, hace post, recupera del servidor y le meto
                //la imagen en base 64 porque aún no ha terminado de subir todas las imágenes, además así no tengo
                //tiempos de carga
                if(this.data.cover.startsWith("data:image/")){
                    this.cover = this.data.cover;
                }else {
                    this.cover = process.env.VUE_APP_BASE_API_URI + "adoption/image/" + this.data.cover;
                }
            }
        },
        methods: {
            remove: async function () {
                try {
                    this.loadingremove = true;
                    await this.request("/adoption/" + this.data._id, "DELETE");
                    EventBus.$emit('show-info', {
                        type: "warning",
                        txt: "Se ha borrado la ficha de adopción."
                    });
                    this.$router.push("/adoptions");
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                    this.loadingremove=false;
                    this.removemodal=false;
                }
            },
            adoption: async function(data){
                this.adoptloading = true;

                try {
                    await this.request('/adoption/adopt/' + this.data._id, "PUT", data);
                    EventBus.$emit('show-info', {
                        type: "success",
                        txt: "¡Gracias! Pronto nos pondremos en contacto contigo"
                    });
                    this.$router.push("/adoptions");
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                }finally {
                    this.adopt = false;
                    this.adoptloading = false;
                }
            },
            setAdoption: async function(value){
                this.adoptloading = true;

                const data= {
                    adopted: value,
                    adopteremail: this.data.adopterData.email,
                    adoptername: this.data.adopterData.name,
                    text: this.data.text,
                };

                try {
                    await this.request('/adoption/' + this.data._id, "PUT", data);
                    EventBus.$emit('show-info', {
                        type: value === 2 ? "success" : "danger",
                        txt: value === 2 ? "¡Adopción completada!" : "Se ha rechazado la adopción"
                    });
                    this.$router.push("/adoptions");

                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                }finally {
                    this.checkadopt = false;
                    this.adoptloading = false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

    .title h2{
        margin-right: 1em;
    }
    .types{
        text-align: left;
    }
    .gallery .imageContainer{

        @media (max-width: 576px) {
            width: 50%;
        }

        width: 25%;
        display: inline-block;

        .wrapper{
            margin: 5px;
            border: 1px solid #aaa;
            padding: 5px;

            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

    }

    @media (max-width: 576px) {
        .adoption-button {
            width: 100%;
        }
        .adoption-button .btn {
            width: 100%;
        }
    }

    .adoption-button{
        margin-left: 15px;
        margin-bottom: 5px;
    }

    .previewtxt{
        text-align: center;
    }

    .fill-div{
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        text-decoration: none;
        z-index: 99;
    }

    .list {
        .title h2{
            width: 100%;
            font-size: 1.5em;
        }
        .body{
            height: 100px;
            overflow: hidden;
        }
    }

    .card-img-top{
        max-height: 189px;
        height: 189px;
        object-fit: cover;
        margin-left: -1px;
        width: calc(100% + 2px);
    }

    .alternative-img-top{
        position: absolute;
        padding: 12px;
        text-align: justify;
        background: #ececec;
        height: 189px;
    }

    .tiny{
        .card-body{
            padding: 10px;
        }
        .img-tiny{
            border-radius: 50%;
            height: 40px;
            width: 40px;
            border: solid #c1c1c1 2px;
            float: left;
        }
        .row-numimages{
            display: block !important;
            margin-bottom: -1px;
            padding-top: 7px;
        }
        h2{
            float: right;
            margin-right: 0;
            width: calc(100% - 50px);
            font-size: 1.15rem;
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 5px;
        }


    }

</style>