<template>

    <div  :class="type"  >
        <div class="row">
            <div class="col-sm-12">

                <div class="card">

                    <router-link class="a-wrapper" v-if="type==='tiny'" :to="'/article/'+data._id"></router-link>

                    <article class="card-body">

                        <div class="row">
                            <div class="col">
                                <div class="row">

                                    <div class="col-12">

                                        <div class="float-left">
                                            <img class="avatar" :src="avatar(data.user)" alt="Foto de perfil" />

                                            <router-link class="hide-in-list hide-in-unique" :title="data.title" :to="'/article/'+data._id" >
                                                <i class="icon far fa-file-alt "></i>
                                            </router-link>

                                        </div>
                                        <div class="titleandauthor">

                                            <div class="row">
                                                <div class="col">
                                                    <router-link :title="data.title" :to="'/article/'+data._id" >
                                                        <h4 class="text-dark text-truncate">{{data.title}}</h4>
                                                    </router-link>
                                                </div>
                                            </div>
                                            <div class="row hide-in-tiny">
                                                <div class="col author">
                                                    <h6>
                                                        <router-link class="text-muted" :to="'/profile/'+data.user._id" >
                                                            <i class="fas fa-user"></i> {{data.user.name}} {{data.user.lastname}}
                                                        </router-link>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <hr class="hide-in-tiny">

                                <div class="row hide-in-tiny">

                                    <div v-html="safeText(data.text)" class="col body">
                                    </div>

                                </div>

                                <hr class="hide-in-tiny">

                                <div class="row hide-in-tiny">
                                    <div class="col">
                                        <span v-if="data.tags && data.tags.length > 0" class="tags"  ref="tags"
                                              @mouseover="tagover"
                                              @mouseleave="tagleave"
                                              @touchmove="tagtouchmove"
                                              @touchstart="tagtouchstart"

                                              :class="{'big':bigtags}"  >
                                           <ul class=" list-inline" v-bind:style="{ marginLeft: -tagtranslate + 'px' }">
                                                <li class="list-inline-item btn btn-outline-info btn-sm" v-for="tag in data.tags"  v-bind:key="tag">
                                                    <router-link :to="'/articles/tag/'+tag">
                                                        {{tag}}
                                                    </router-link>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>

                                <div class="row postinfo">
                                    <div class="col">
                                        <router-link class="hide-in-unique text-dark" :to="'/article/'+data._id" >
                                            <i class="fas fa-comment"></i> {{data.numcomments}} comentario<span v-if="data.numcomments !== 1">s</span>
                                        </router-link>

                                        <span class="numcomments hide-in-list ">
                                            <i  class="fas fa-comment"></i> {{data.numcomments}} comentario<span v-if="data.numcomments !== 1">s</span>
                                        </span>
                                        <span class="hide-in-tiny">|</span>
                                        <span class="date hide-in-tiny">
                                            <i class="fas fa-calendar-alt"></i> {{datetime(data.date)}}
                                        </span>

                                        <span class="hide-in-unique hide-in-tiny" >|</span>
                                        <router-link class="hide-in-unique hide-in-tiny text-success" :to="'/article/'+data._id" >
                                            Leer completo
                                        </router-link>


                                        <span v-if="(user.permissions & ROLE_LIST.article.e) ||
                                         ((user.permissions & ROLE_LIST.article.w) && data.user._id.toString() === user.id.toString())"
                                              class="float-right hide-in-list hide-in-tiny editbuttons edit-tiny-buttons">
                                            <router-link :to="'/article/edit/'+data._id" type="button" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</router-link>
                                            <button @click="removemodal=true" type="button" class="btnremove btn btn-danger btn-sm">
                                                <span v-if="!loadingremove">
                                                    <i class="fas fa-trash-alt"></i> Eliminar
                                                </span>
                                                <span v-if="loadingremove">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </span>


                                            </button>
                                        </span>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>

            </div>

        </div>


        <!-- confirmación para borrar un artículo -->
        <confirm-modal
                v-bind:show="removemodal"
                v-bind:loading="loadingremove"
                v-bind:title="'Eliminar artículo'"
                v-bind:text="'¿Estas seguro de que quieres borrar este artículo? Se borrarán todos los comentarios de este artículo.'"
                v-bind:cancel-text="'Cancelar'"
                v-bind:confirm-text="'Borrar todo'"
                v-bind:icon-confirm="'fa-trash-alt'"
                v-bind:icon-cancel="'fa-undo'"
                @onClose="removemodal = false"
                @onConfirm="remove"
        ></confirm-modal>




    </div>
</template>

<script>

    import {mapState} from 'vuex';
    import ConfirmModal from '../components/ConfirmModal.vue';
    import EventBus from '../eventBus';

    export default {
        name: "articlecomponent",
        props: ['data','type'],
        data: function(){
            return {
                removemodal: false,
                loadingremove: false,
                bigtags: false,
                tagtranslate: 0,
                tagtranslateclick: 0,
                tagtranslatemax: 0,
                intervaltags: null,
                intervaltagsback: null,
                touchstart: 0,
                mobile: false
            }
        },
        computed: mapState({
            user:'user'
        }),
        components: {
            'confirm-modal': ConfirmModal
        },
        created: function(){
            
        },
        mounted: function(){ //Aquí ya está el DOM construido según el ciclo de vida.
            if(this.type === 'list') {
                const tag = this.$refs.tags;
                if (tag) {
                    const widthFull = tag.clientWidth;
                    const widthTags = tag.querySelector("ul").clientWidth;
                    if (widthTags > widthFull) {
                        this.bigtags = true;
                        this.tagtranslatemax = widthTags - widthFull;
                    }

                }
            }
        },
        methods: {
            remove: async function(){

                try {
                    this.loadingremove=true;
                    await this.request("/article/"+this.data._id,"DELETE");
                    EventBus.$emit('show-info', {
                        type: "warning",
                        txt: "Se ha borrado artículo y todos sus comentarios."
                    });
                    this.$router.push("/articles");
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                    this.loadingremove=false;
                }

            },
            tagover: function(){
                if(this.bigtags && !this.mobile) {
                    if (this.intervaltagsback !== null) {
                        clearInterval(this.intervaltagsback);
                        this.intervaltagsback = null;
                    }

                    if (this.intervaltags === null) {
                        const that = this;
                        this.intervaltags = setTimeout(function () {

                            that.intervaltags = setInterval(function () {
                                if (that.tagtranslate < that.tagtranslatemax) {
                                    that.tagtranslate = that.tagtranslate + 1;
                                }
                            }, 20);
                        }, 500);
                    }
                }
            },
            tagleave: function(){
                if(this.bigtags && !this.mobile) {
                    if (this.intervaltags !== null) {
                        clearInterval(this.intervaltags);
                        this.intervaltags = null;
                    }

                    if (this.intervaltagsback === null) {
                        const that = this;
                        this.intervaltagsback = setTimeout(function () {
                            that.intervaltagsback = setInterval(function () {
                                if (that.tagtranslate > 0) {
                                    that.tagtranslate = that.tagtranslate - 1;
                                }
                            }, 20);
                        }, 500);
                    }
                }
            },
            tagtouchmove: function(event){
                const moved = event.changedTouches[0].screenX;
                let mov = this.tagtranslateclick+this.touchstart-moved;
                if(mov < 0){
                    mov = 0;
                }else if(mov > this.tagtranslatemax){
                    mov = this.tagtranslatemax;
                }
                this.tagtranslate = mov;
            },
            tagtouchstart: function(event){
                this.mobile = true;
                this.touchstart = event.changedTouches[0].screenX;
                this.tagtranslateclick = this.tagtranslate;
            },
        }
    }
</script>

<style lang="scss" scoped>

    .avatar{
        height: 65px;
        width: 65px;
        margin-right: -5px;
    }

    hr{
        width: 100%;
    }

    .tags {
        ul {
            li {
                height: 21px;
                padding: 0 5px;
                font-size: 0.8em;
                &:hover, a:hover{
                    text-decoration: none;
                    color: #fff;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }


    .list .tags{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 24px;
        margin-bottom: 5px;
        ul{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: fit-content; //Esto es para que vue coja bien el tamaño.
        }
        &.big{
            width: calc(100% + 10px);
            margin-left: -5px;
            &::before{
                width: 16px;
                content: " ";
                background: linear-gradient(to right, rgba(251,251,251,1) 0%, rgba(251,251,251,0) 100%);
                position: absolute;
                left: 10px;
                top: 2px;
                height: 24px;
            }
            &::after{
                width: 16px;
                content: " ";
                background: linear-gradient(to left, rgba(251,251,251,1) 0%, rgba(251,251,251,0) 100%);
                position: absolute;
                right: 10px;
                top: 1px;
                height: 24px;
            }
            .list-inline{
                padding-left: 5px;
            }
        }
    }


    .body{

        overflow: hidden;
        margin-bottom: 10px;

    }

    .postinfo > .col > *{
        margin: 0 5px;
    }

    .titleandauthor {
        width: 100%;
    }

    /* Estilos listado en grande */
    .list .body {
        max-height: 85px;
    }

    .tiny .icon{
        font-size: 2em;
        margin-right: 10px;
        margin-left: 20px;
    }
    .tiny .titleandauthor{
        text-align: left;
        padding-top:3px;
    }
    .tiny .card-body{
        padding: 0.70em 0.50em 0.50em;
    }
    .tiny .postinfo{
        text-align: left;
    }
    .tiny h4{
        font-size:1.35rem;
        padding-left:5px;
    }
    .tiny a{
        color: inherit;
    }

    @media (max-width: 576px) {
        .titleandauthor {
            width: calc(100% + 25px);
        }

        .avatar{
            height: 50px;
            width: 50px;
        }

    }


</style>

<style lang="scss">

    $buttonW: 75px;

    .commentbody{
        margin-bottom: 10px;
    }

    .commentbody textarea{
        height: 100%;
        width: calc(100% - #{$buttonW});

    }

    .btnremove{
        width: 80px;
    }

    .botoneseditar{
        width: $buttonW;
        height: 65px;
        .enviacomentario, .cancelarcomentario{
            height: 32.5px;
            width: 100%;
            padding: 3px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }


    .body img{
        max-width: 100%;
    }



    .tiny {

        .avatar{
            height: 35px;
            width: 35px;
            padding-bottom: 0;
        }
        .titleandauthor{
            width: 100%;
        }
        .postinfo{
            margin-top: 12px;
        }
        h4{
            font-size: 1.1rem !important;
        }


        .a-wrapper{

            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }


</style>