<template>

    <article :class="type"  class="row comment">

        <div class="col-12">

            <div class="card">

                <router-link class="a-wrapper" v-if="type==='tiny'" :to="'/article/'+data.article._id"></router-link>

                <div class="card-body" v-bind:class="{adjust: editing}">

                    <div class="usercommentprofile float-left">
                        <router-link :to="'/profile/'+data.user._id">
                            <img class="avatar" :src="avatar(data.user)" alt="Foto de perfil" />
                            <br>
                            <span class="hide-in-tiny">{{data.user.name}}</span>
                        </router-link>
                    </div>
                    <div class="usercommenttext float-right">
                        <div class="row">


                            <div v-if="!editing" class="col commentbody">
                                <span>{{data.text}}</span>
                            </div>

                            <!-- Formulario para editar -->
                            <div  v-if="editing" class="col commentbody">
                                <textarea class="float-left form-control" placeholder="Escribe aquí tu comentario" v-model="commentedit"></textarea>
                                <div class="float-right botoneseditar">
                                    <button @click="save" class="enviacomentario btn btn-success">
                                            <span v-if="!loadingsend">
                                                Guardar
                                            </span>
                                        <span v-if="loadingsend">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                    </button>
                                    <button @click="cancel" class="cancelarcomentario btn btn-danger">
                                        Cancelar
                                    </button>
                                </div>
                            </div> <!-- Fin formulario editar -->


                        </div>

                        <!-- Fecha y botones -->
                        <div class="row hide-in-tiny" v-if="!editing">
                            <div class="col options">
                                <span class="float-left date">
                                    <i class="fas fa-calendar-alt float-left"></i> {{datetime(data.date)}}
                                </span>


                                <span class="float-right hide-in-tiny">
                                    <span class="votes">
                                        <button @click="!alreadyvoted && vote(1)" type="button" class="btn btn-success btn-sm loadder"
                                        :class="{'disabled': alreadyvoted}"
                                        v-if="data.user._id.toString() !== user.id.toString()">
                                            <span :class="{visible: !loadingvote}" >
                                                <i class="far fa-thumbs-up"></i>
                                            </span>
                                            <span :class="{visible: loadingvote}" >
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                        </button>

                                        <v-popover placement="top" class="d-inline actual-votes"  popoverClass="actual-votes-popover" :disabled="data.countvotes === 0">
                                            <template slot="popover">
                                                <div class="row votes-popover" v-for="vote in data.vote" v-bind:key="vote._id">
                                                    <div class="col" :class="{
                                                           'text-success':vote.vote === 1,
                                                           'text-danger':vote.vote === -1,
                                                           }">
                                                        <router-link :to="`/profile/${vote.user._id}`">
                                                            <img class="avatar" :src="avatar(vote.user)">
                                                            <span class="name">{{vote.user.name}} {{vote.user.lastname}}</span>
                                                            &nbsp;
                                                            <i class="far" :class="{
                                                               'fa-thumbs-down':vote.vote === -1,
                                                               'fa-thumbs-up':vote.vote === 1,}"></i>
                                                        </router-link>

                                                    </div>
                                                </div>
                                            </template>
                                            <button class="btn btn-info btn-sm">{{data.countvotes}}</button>
                                        </v-popover>

                                        <button @click="!alreadyvoted && vote(-1)" type="button" class="btn btn-danger btn-sm loadder"
                                                :class="{'disabled': alreadyvoted}"
                                                v-if="data.user._id.toString() !== user.id.toString()">
                                            <span :class="{visible: !loadingvote}" >
                                                <i class="far fa-thumbs-down"></i>
                                            </span>
                                            <span :class="{visible: loadingvote}" >
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                        </button>
                                    </span>

                                    <!-- Botones de edición y eliminar -->
                                    <span  v-if="(user.permissions & ROLE_LIST.comment.e) ||
                                         ((user.permissions & ROLE_LIST.comment.w) && data.user._id.toString() === user.id.toString())">
                                        <button @click="edit" type="button" class=" btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</button>
                                        <button @click="remove" type="button" class="btnremove btn btn-danger btn-sm">
                                            <span>
                                                <i class="fas fa-trash-alt"></i> Eliminar
                                            </span>
                                        </button>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="article-title" v-if="type==='tiny'">
                            <i class="far fa-file-alt"></i> {{data.article.title}}
                    </div>

                </div>

            </div>

        </div>


    </article>


</template>

<script>

    import {mapState} from 'vuex';
    import EventBus from '../eventBus';

    export default {
        name: "comment",
        props: ['data','type'],
        data: function(){
            return {
                iduser: null,
                editing: false,
                commentedit: "",
                loadingsend: false,
                loadingvote: false,
            }
        },
        computed: {
            'alreadyvoted': function () {
                for(let i in this.data.vote){
                    if(this.data.vote[i].user._id === this.user.id){
                        return true;
                    }
                }
                return false;
            },
            ...mapState({
                user: 'user'
            }),
        },
        methods:{
            edit: function(){
                this.commentedit = this.data.text;
                this.editing=true;
            },
            remove: function(){
                this.$emit('remove',this.data._id);
            },
            cancel: function(){
                if(!this.loadingsend) {
                    this.editing = false;
                }
            },
            save: async function(){
                this.loadingsend = true;
                try {
                    const response = await this.request("/comment/" + this.data._id,"PUT", {text: this.commentedit});
                    this.$emit('edit', response.data);
                    this.editing=false;
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                }finally {
                    this.loadingsend=false;
                }
            },
            vote: async function(value){
                this.loadingvote = true;

                try{
                    const response = await this.request(`/comment/${this.data._id}/vote`,"PUT",{vote: value});
                    this.$emit('edit', response.data);
                }catch(e){
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: e.response.data.message
                    });
                }finally {
                    this.loadingvote = false;
                }




            }
        }
    }
</script>

<style lang="scss" scoped>

    $commentprofilew: 100px;
    $buttonW: 75px;

    .usercommentprofile{
        width: $commentprofilew;
        text-align: center;
        font-size: 10px;
        .avatar{
            margin-right: 0px !important;
        }
    }
    .usercommenttext{
        width: calc(100% - #{$commentprofilew});
    }
    .avatar{
        height: 50px;
        width: 50px;
        margin-bottom: 25px;
    }

    .commentbody{
        min-height: 58px;
        white-space: pre-wrap; //Para conservar los saltos de linea y espacios.
    }

    .list.comment{
        margin-left: -15px;
    }
    @media (min-width: 576px) {
        .list.comment{
            margin-left: 30px !important;
        }
    }

    .comment{
        .card-body{
            padding-left: 0px;
            padding-bottom:5px;
        }
        .options{
            font-size: 12px;
            .fa-calendar-alt{
                margin-top: 3px;
                margin-right: 4px;
            }
            .date{
                margin-top: 5px;
            }
            .btn{
                font-size: 12px;
                padding: 3px;
                line-height: 1;
                margin-left: 5px;
            }
        }
    }

    .btnremove{
        width: 80px;
    }


    .comment textarea{
        height: 100%;
        width: calc(100% - #{$buttonW});

    }


    .botoneseditar{
        width: $buttonW;
        height: 65px;
        .enviacomentario, .cancelarcomentario{
            height: 32.5px;
            width: 100%;
            padding: 3px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
        }
    }

    .card-body.adjust{
        padding-bottom: 6px;
    }


    .list .hide-in-list {
        display: none;
    }

    .tiny{
        .card-body{
            padding: 0.50em;
        }

        $commentprofilew-tiny: 50px;
        .avatar{
            height: 35px;
            width: 35px;
            padding-bottom: 0;
        }
        .usercommentprofile{
            padding-top: 5px;
            width: $commentprofilew-tiny;
            height: 50px;
        }
        .usercommenttext{
            width: calc(100% - #{$commentprofilew-tiny});
            height: 50px;
        }
        .commentbody{
            max-height: 50px;
            min-height: 50px;
            overflow: hidden;
        }
        .article-title{
            padding: 0 5px;
            i{
                margin-left: 5px;
            }
        }


    }

    .fa-thumbs-up{
        position: relative;
        left: -1px;
    }
    .fa-thumbs-down{
        position: relative;
        top: 1px;
        left: -1px;
    }

    .actual-votes{
        margin-left: 1px;
        margin-right: -3px;
        button{
            width: 20px;
        }
    }

    .votes-popover{
        .avatar{
            float:left;
            height: 30px;
            width: 30px;
            margin-right: 5px;
        }
        a{
            color: inherit;
            white-space: nowrap;
            &:hover{
                text-decoration: none;

            }
        }
        text-align: left;
        line-height: 2;
        height: 35px;
    }

    .tiny .a-wrapper{

        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

</style>

<style lang="scss">
    /* Por defecto en la librería el tooptip tiene 200px */
    .actual-votes-popover .tooltip-inner{
        max-width: 100%;
    }

    .actual-votes-popover .popover-inner{
        max-height: 300px;
        overflow: auto;
        overflow-x: hidden;
        .avatar{
            margin-bottom: 0 !important;
        }
    }

    .actual-votes-popover .popover-inner {

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: #e1e1e1;
            border: 0px none #ffffff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #d1d1d1;
        }
        &::-webkit-scrollbar-thumb:active {
            background: #969696;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff;
            border: 0px none #ffffff;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-track:hover {
            background: #ffffff;
        }
        &::-webkit-scrollbar-track:active {
            background: #ffffff;
        }
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }

</style>