<template>

    <transition name="fade" mode="out-in">
        <div v-if="show" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                        <button type="button"  @click="$emit('onClose')"  class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="!html">
                        {{text}}
                    </div>
                    <div class="modal-body" v-if="html && form">
                        <form :id="idform" v-on:submit.prevent="onSubmit" v-html="html">
                        </form>
                    </div>
                    <div class="modal-body" v-if="html && !form" v-html="html">
                    </div>
                    <div class="modal-footer">
                        <button type="button" :class="'btn-'+typeCancel" @click="hasCancelListener ? $emit('onCancel') : $emit('onClose')" class="btn btn-primary loadder" data-dismiss="modal">
                            <span :class="{visible: !loading}">
                                    <i class="fas" :class="iconCancel"></i>&nbsp;{{cancelText}}
                                </span>
                            <span :class="{visible: loading}">
                                    <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                        <button :type="form ? 'submit' : 'button'" :form="idform" @click="confirm" class="btn loadder" :class="'btn-'+typeConfirm">
                                <span :class="{visible: !loading}">
                                    <i class="fas" :class="iconConfirm"></i>&nbsp;{{confirmText}}
                                </span>
                                <span  :class="{visible: loading}">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>

</template>

<script>
    export default {
        name: "ConfirmModal",
        props: {
            show: {},
            loading: {},
            title: {
                type: String,
                default: "Confirmación"
            },
            text: {
                type: String,
                default: "¿Desea continuar?"
            },
            cancelText:{
                type: String,
                default: "No"
            },
            confirmText:{
                type: String,
                default: "Si"
            },
            typeConfirm:{
                type: String,
                default: "danger"
            },
            typeCancel:{
                type: String,
                default: "success"
            },
            iconCancel:{
                type: String,
                default: ""
            },
            iconConfirm:{
                type: String,
                default: ""
            },
            html:{
                type: String,
                default: null
            },
            form:{
                type: Boolean,
                default: false
            }
        },
        data: function(){
            return {
                rndid: 0
            }
        },
        computed:{
            idform: function(){
                if(this.rndid !== 0) return this.rndid;
                else{
                    // eslint-disable-next-line
                    this.rndid = Math.random().toString(36);
                    return this.rndid;
                }
            },
            hasCancelListener(){
                return this.$listeners && this.$listeners.onCancel
            }
        },
        methods: {
            confirm: function(){
                if(!this.form) this.$emit('onConfirm');
            },
            onSubmit: function(){

                const form = document.getElementById(this.idform);
                const data = new FormData(form);
                let returnobj = {};
                for (let [key, value] of data.entries()) {
                    returnobj[key] = value;
                }
                this.$emit('onConfirm',returnobj);

            }
        }
    }
</script>

<style scoped>

    .modal.show{
        display: block;
        background-color: rgba(0, 0, 0, .5);
    }
    @media (max-width: 576px) {
        .modal-dialog {
            top: 50%;
            transform: translateY(-50%) !important;
        }
    }


</style>