<template>

    <article>
        <h2><span class="badge badge-danger">Error 404</span></h2>
        <h3>No se ha podido encontrar la página que busca</h3>

        <img src="../assets/404crop.gif">
    </article>


</template>

<script>
    export default {
        name: "e404"
    }
</script>

<style scoped>

    article{
        text-align: center;
    }
    img{
        max-width: 100%;
    }

</style>