<template>

    <div class="autocomplete">
        <input list="datalist" class="form-control" type="text"
               :id="id" autocomplete="off" v-bind:value="value"
               v-on:input="$emit('input', $event.target.value)"
               @keydown.enter.prevent="$emit('keyenter')"
        >

        <datalist id="datalist">
            <option v-for="d in data" v-bind:key="d" :value="d">{{d}}</option>
        </datalist>

    </div>

</template>

<script>
    export default {
        name: "InputAutoComplete",
        props: ['id','value','data'],
        data: function() {
            return {

            }
        },
    }
</script>

<style scoped>

    input::-webkit-calendar-picker-indicator {
        display: none;
    }

</style>