<template>
    <nav>
        <ul class="pagination">

            <li class="page-item">
                <select @change="selectChange($event)" class="form-control">
                    <option v-for="option in options" v-bind:key="option" :value="option"
                    :selected="option === perpage"
                    >{{option}} por página</option>
                </select>
            </li>

            <li class="page-item" :class="{'disabled':1 === page}">
                <a @click="goto(1)" class="page-link"><i class="fas fa-angle-double-left"></i></a>
            </li>
            <li class="page-item" :class="{'disabled':1 === page}">
                <a @click="goto(page-1)" class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>

            <li v-for="(pagec,index) in displaypages"
                v-bind:key="pagec" class="page-item page"
                :class="{'active':pagec === page,
                        'center': Math.floor(displaypages.length/2) === index
                }"
            >
                <a @click="goto(pagec)" class="page-link">{{pagec}}</a>
            </li>

            <li class="page-item" :class="{'disabled':lastpage === page}" >
                <a @click="goto(page+1)" class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li class="page-item" :class="{'disabled':lastpage === page}">
                <a @click="goto(lastpage)" class="page-link"><i class="fas fa-angle-double-right"></i></a>
            </li>
            <li class="page-item">
                <span class="page-link no-cursor">{{total}}<span class="d-none d-md-inline"> {{total === 1 ? names[0] : names[1]}} en total</span></span>
            </li>

        </ul>
    </nav>
</template>

<script>
    export default {
        name: "pagination",
        props: {
            total: Number,
            page: Number,
            display: Number,
            perpage: Number,
            names: Array,
            options: Array
        },
        data: function() {
            return {
                selectperpage: 0
            }
        },
        computed: {
            displaypages: function(){
                let elementsLeft = Math.floor((this.display-1)/2);
                let elementsRight = elementsLeft;

                let firstElement = this.page - elementsLeft;
                if(firstElement <= 0){
                    const modify = firstElement-1;
                    elementsLeft+=modify;
                    elementsRight-=modify;
                }

                if(this.page+elementsRight > this.lastpage){
                    const modify = this.page+elementsRight-this.lastpage;
                    elementsLeft+=modify;
                    elementsRight-=modify;
                }

                let pages = [];
                for(let i=elementsLeft;i>0;i--){
                    const newpage =this.page-elementsLeft+-1+i;
                    if(newpage<=0) break;
                    pages.unshift(newpage);
                }
                pages.push(this.page);
                for(let i=0;i<elementsRight;i++){
                    pages.push(this.page+1+i);
                }
                return pages;

            },
            lastpage: function(){
                return Math.ceil(this.total/this.perpage);
            }
        },
        methods: {
            goto(page){
                this.$emit('changepage',page);
            },
            selectChange(event){
                this.$emit('changeperpage',event.target.value);
            }
        }
    }
</script>

<style lang="scss" scoped>

    .page-item:not(.disabled):not(.active) a, .page-item select{
        color: #007bff;
    }
    .form-control:focus{
        color: #007bff;
    }
    .pagination{
        margin: 15px auto;
        width: fit-content;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        max-width: 100%;
    }
    select{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
        &:hover{
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
    }
    .no-cursor{
        cursor:default !important;
    }

    //Para pantallas pequeñas solo muestro la página actual.
    .page-item.page:not(.active){
        display: none;
    }

    //para pantallas un poco más grandes muestro la actual y la siguiente
    @media (min-width: 576px) {
        .page-item.page.active + .page{
            display: list-item;
        }
    }
    //Para pantallas grandes muestro todas las páginas
    @media (min-width: 992px) {
        .page-item.page:not(.active){
            display: list-item;
        }
    }



</style>