<template>

        <div :class="type">

            <div class="row">
                <div class="col-sm-12">

                    <div class="card">

                        <article class="card-body">
                            <div class="row">

                                <div class="card-title">

                                    <div class="col">

                                        <div class="float-left">
                                            <img class="avatar" :src="avatar(profile)"/>
                                            <span class="role">
                                                        <i class="icon" v-tooltip.top="profile.role.name" :class="profile.role.icon"></i>
                                                    </span>
                                        </div>

                                        <div class="userdata">
                                            <router-link class="username" :to="'/profile/'+profile._id" >
                                                <h4 class="text-truncate">{{profile.name}} {{profile.lastname}}</h4>
                                            </router-link>
                                            <span class="data">
                                                    <span class="since">En {{WEBNAME}} desde: {{datetime(profile.date,'date')}}</span><br>
                                                    <span class="activity">Última actividad: {{datetime(profile.lastActivity,'today or date')}}</span>

                                                </span>

                                        </div>

                                        <div v-if="type==='unique'" class="edit-tiny-buttons">
                                            <button @click="logoutandmove" v-if="me"  class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</button>
                                            <router-link v-if="!me && (user.permissions & ROLE_LIST.user.e)" :to="'/profile/edit/'+profile._id"  class="btn btn-warning"><i class="fas fa-sign-out-alt"></i>&nbsp;Editar</router-link>
                                            <router-link v-if="me" :to="'/myprofile/edit/'" class="btn btn-warning"><i class="fas fa-sign-out-alt"></i>&nbsp;Editar</router-link>
                                            <button @click="modal=true" v-if="me || (user.permissions & ROLE_LIST.user.e)"  class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Eliminar</button>
                                            <a v-if="!me && profile.email && (user.permissions & ROLE_LIST.user.r)" class="btn btn-info" :href="'mailto:'+profile.email" ><i class="far fa-envelope"></i>&nbsp;Enviar email</a>
                                        </div>

                                    </div>

                                </div>



                            </div>
                            <hr>
                            <div class="row">

                                <div class="col">
                                    <i class="fas fa-comments"></i> {{profile.numcomments}} {{profile.numcomments === 1 ? 'comentario' : 'comentarios'}}
                                </div>
                                <div class="col">
                                    <i class="fas fa-comments"></i> {{profile.numarticles}} {{profile.numarticles === 1 ? 'artículo' : 'artículos'}}
                                </div>

                            </div>
                            <hr class="hide-in-list" v-if="type==='unique' && (profile.lastcomments.length > 0 || profile.lastarticles.length > 0)">
                            <div v-if="type==='unique' && (profile.lastcomments.length > 0 || profile.lastarticles.length > 0)" class="row last-data">

                                <div class="col-12 col-sm-6">
                                    <h5>Últimos comentarios</h5>

                                    <div class="comment-wrapper">
                                        <comment-component v-if="profile.lastcomments !== null" v-for="(datacomment) in profile.lastcomments" v-bind:key="datacomment._id" v-bind:data="datacomment" v-bind:type="'tiny'"></comment-component>
                                    </div>

                                </div>

                                <hr class="d-block d-sm-none">

                                <div class="col-12 col-sm-6">
                                    <h5>Últimos artículos</h5>

                                    <div class="article-wrapper">
                                        <article-component v-if="profile.lastarticles !== null" v-for="(dataarticle) in profile.lastarticles" v-bind:key="dataarticle._id" v-bind:data="dataarticle" v-bind:type="'tiny'"></article-component>
                                    </div>

                                </div>

                            </div>

                        </article>


                        <!-- Confirmación para borrar el perfil -->
                        <confirm-modal
                                v-bind:show="modal"
                                v-bind:loading="loadingremove"
                                v-bind:title="'Eliminar cuenta'"
                                v-bind:text="'Se eliminará la cuenta y todos los comentarios y los articulos escritos desde esta cuenta. ¿Quieres continuar?'"
                                v-bind:cancel-text="'Ops... mejor no'"
                                v-bind:confirm-text="'Eliminar todo'"
                                v-bind:icon-confirm="'fa-trash-alt'"
                                v-bind:icon-cancel="'fa-undo'"
                                @onClose="modal = false"
                                @onConfirm="removeaccount"
                        ></confirm-modal>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>

    import article from '../components/ArticleComponent.vue';
    import comment from '../components/CommentComponent.vue';

    import ConfirmModal from './ConfirmModal.vue';
    import EventBus from '../eventBus';
    import {mapState} from 'vuex';

    export default {
        name: "profile",
        props: ['profile','type'],
        data: function(){
            return {
                me: false,
                loadingposts: true,
                loadingcomments: true,
                modal: false,
                loadingremove: false,
                image: ""
            }
        },
        components: {
            'articleComponent':article,
            'commentComponent': comment,
            'confirm-modal': ConfirmModal
        },
        computed: mapState({
            user:'user'
        }),
        created: function(){
            this.me = this.profile._id === this.user.id;
        },
        methods: {
            logoutandmove: function(){
                this.logout();
                this.$router.push("/");
            },
            removeaccount: async function(){
                this.loadingremove = true;
                /*const response = */await this.request("/user/" + this.profile._id,"DELETE");
                if(this.profile._id === this.user.id) this.logout();
                EventBus.$emit('show-info', {
                    type: "warning",
                    txt: "Se ha borrado el usuario y todas sus contribuciones."
                });
                this.$router.push("/");
            }
        }
    }
</script>

<style lang="scss" scoped>

    .card-body .card-title{
        width: 100%;
        text-align: left;
        font-size: 2em;
    }
    .userdata{
        padding-left: 90px;
    }

    .btn.email{
        margin-top: -5px !important;
    }

    .edit-tiny-buttons .btn{
        float: right;
    }


    a:not(.btn){
        color: inherit;
    }
    a:hover{
        text-decoration: none;
    }
    .card-title img{
        height: 80px;
        width: 80px;
    }
    hr{
        width: 100%;
    }

    .data{
        font-size: 0.45em;
        padding-top: 0px;
        display: block;
    }

    #removebtn{
        width: 210px;
    }

    .role .icon{
        position: absolute;
        left: 65px;
        top: 50px;
        border: 1px solid #eee;
        font-size: 0.7em;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background: #eeeeee70;
        padding: 4px;
        color: #3a3a3a;
    }

    .last-data{
        h5{
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        .edit-tiny-buttons .btn{
            margin-top: 10px;
        }
        .avatar{
            height: 50px !important;
            width: 50px !important;
        }
        .role .icon {
            left: 45px;
            top: 30px;
            font-size: 0.4em;
            height: 25px;
            width: 25px;
        }
        .userdata{
            padding-left: 60px;
            h4{
                font-size: 1.3rem;
            }
        }
    }


</style>

<style lang="scss">
</style>