<template>

    <div class="row">
        <div class="col-sm-12">

            <div class="card">

                <article class="card-body">

                    <div class="row row-title mb-4">

                        <div class="col-12">

                            <div class="float-left">

                                <div class="float-left">
                                    <i v-if="!editform"  class="icon avatar" :class="data.icon"></i>

                                    <div class="select-icon mb-2" v-if="editform">

                                        <button v-for="thisicon in avaliableicons"
                                                type="button" class="btn"
                                                :class="{'active':thisicon === icon}"
                                                @click="icon = thisicon"
                                                v-bind:key="thisicon"
                                        >
                                            <i :class="thisicon"></i>
                                        </button>

                                    </div>


                                </div>

                                <div class="float-left">
                                    <h4 v-if="!editform" class="title">{{data.name}}</h4>
                                    <h6 class="subtitle" v-if="!editform && data.users !== 1 && data.users !== 0">{{data.users}} usuarios</h6>
                                    <h6 class="subtitle" v-if="!editform && data.users === 1">{{data.users}} usuario</h6>
                                    <h6 class="subtitle" v-if="!editform && data.users === 0">Rol sin usuarios</h6>

                                    <div v-if="editform" class="input-group">
                                        <input type="text" placeholder="Nombre del rol" v-model="name" class="form-control">

                                        <div class="input-group-append">
                                            <button type="button" @click="saveName" v-if="data._id !== 'new'" class="btn btn-outline-success">
                                                <span v-if="!loadingsave">
                                                    <i class="fas fa-save"></i>
                                                </span>
                                                <span v-if="loadingsave">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div  v-if="editform && erroreditname" class="text-danger">
                                        Debes escribir un nombre
                                    </div>

                                </div>

                            </div>

                            <div class="float-right">

                                <div class="editbuttons edit-tiny-buttons">
                                    <button @click="savePerms" type="button" class="btn btn-success btn-sm" v-if="data._id !== 'new' && newdata !== data.permissions">

                                        <span v-if="!loadingsave">
                                            <i class="fas fa-save"></i> Guardar cambios
                                        </span>
                                        <span v-if="loadingsave">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>


                                    <button @click="newRoleClick" type="button" class="btn btn-success btn-sm" v-if="data._id === 'new'">

                                        <span v-if="!loadingsave">
                                            <i class="fas fa-save"></i> Crear rol
                                        </span>
                                        <span v-if="loadingsave">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>

                                    <div class="no-btn-save" v-if="data._id !== 'new' && newdata === data.permissions"></div>

                                    <button v-if="data._id !== 'new'" @click="clickedit" type="button" class="btnremove btn btn-warning btn-sm">
                                        <span v-if="!loadingsave">
                                            <i class="fas fa-edit"></i>
                                            <span v-if="!editform">Nombre e icono</span>
                                            <span v-if="editform">Cancelar</span>
                                        </span>
                                        <span v-if="loadingsave">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>

                                    <div v-if="data.users > 0 && data.special === 0" class="remove-tip"
                                         v-tooltip.top="'No puedes eliminar un rol que tenga usuarios.'" ></div>
                                    <button v-if="data.special === 0" @click="clickremove"
                                            :disabled="data.users > 0" type="button"
                                            class="btnremove btn btn-danger btn-sm">
                                        <span v-if="!loadingsave">
                                            <i class="fas fa-trash-alt"></i>
                                            <span v-if="data._id !=='new'">Eliminar</span>
                                            <span v-if="data._id ==='new'">Cancelar</span>
                                        </span>
                                        <span v-if="loadingsave">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>



                                </div>


                            </div>

                        </div>

                    </div>

                    <span class="info" v-if="data.special === 1"><span class="badge badge-info">Nota</span> No puedes cambiar los permisos del rol administrador</span>
                    <span class="info" v-if="data.special === 2"><span class="badge badge-info">Nota</span> No puedes borrar el rol de usuario registrado, pero puedes cambiar sus permisos</span>

                    <div class="row switch-list">

                        <div v-for="(type, name) in ROLE_LIST" class="col col-md-4 col-lg category" v-bind:key="name">
                            <span class="role-title">{{translations[name].name}}</span>
                            <div class="row">
                                <div v-for="(role, subtype) in type" class="col"  v-bind:key="subtype">
                                        <span class="role-subtipe-name"

                                        >{{translations[name][subtype].name}}</span>

                                    <label class="switch" v-tooltip.top="translations[name][subtype].text">
                                        <input @click="edit(role, $event)" v-bind:value="role" type="checkbox" :disabled="data.special === 1" :checked="role & newdata">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                            </div>
                        </div>


                    </div>


                </article>

            </div>

        </div>


        <!-- confirmación para borrar un rol -->
        <confirm-modal
                v-bind:show="removemodal"
                v-bind:loading="loadingsave"
                v-bind:title="'Eliminar rol'"
                v-bind:text="'¿Estas seguro de que quieres borrar este rol?'"
                v-bind:cancel-text="'No, no borrar'"
                v-bind:confirm-text="'Borrar'"
                v-bind:icon-confirm="'fa-trash-alt'"
                v-bind:icon-cancel="'fa-undo'"
                @onClose="removemodal = false"
                @onConfirm="remove"
        ></confirm-modal>


    </div>



</template>

<script>
    import ConfirmModal from '../components/ConfirmModal.vue';
    import EventBus from '../eventBus';

    export default {
        name: "RoleComponent",
        props: ['data'],
        components:{
            'confirm-modal': ConfirmModal
        },
        data: function(){
            return {
                translations: {
                    article: {
                        w: {
                            name: "Escribir",
                            text: "Permitir escribir artículos y editar o eliminar los propios"
                        },
                        e: {
                            name: "Editar",
                            text: "Editar y eliminar todos los artículos"
                        },
                        name: "Articulos"
                    },
                    adoption: {
                        w: {
                            name: "Escribir",
                            text: "Permitir escribir nuevas fichas de adopción y editar o eliminar las propias"
                        },
                        e: {
                            name: "Editar",
                            text: "Editar y eliminar todos las fichas de adopción"
                        },
                        name: "Adopciones"
                    },
                    comment: {
                        w: {
                            name: "Escribir",
                            text: "Permitir escribir comentarios en los artículos y editar o eliminar los propios. Además permite votar los comentarios."
                        },
                        e: {
                            name: "Editar",
                            text: "Editar y eliminar todos los comentarios"
                        },
                        name: "Comentarios"
                    },
                    user: {
                        r: {
                            name: "Leer",
                            text: "Permite leer los datos sensibles de los usuarios, como el email"
                        },
                        e: {
                            name: "Editar",
                            text: "Editar y eliminar perfiles de usuario"
                        },
                        name: "Usuarios"
                    },
                    role: {
                        w: {
                            name: "Editar",
                            text: "Editar y eliminar roles de usuario (en resumen, acceso a esta página)"
                        },
                        name: "Roles"
                    },
                },
                avaliableicons: [
                    "fas fa-user",
                    "fas fa-user-tie",
                    "fas fa-user-shield",
                    "fas fa-user-plus",
                    "fas fa-user-slash",
                    "fas fa-user-times",
                    "fas fa-user-cog",
                    "fas fa-user-tag",
                    "fas fa-user-secret",
                    "fas fa-bullhorn",
                    "fas fa-glasses",
                    "fas fa-pencil-alt",
                    "fas fa-star",
                ],
                editform: false,
                newdata: null,
                loadingsave: false,
                removemodal: false,
                erroreditname: false,
                name: "",
                icon: ""
            }

        },
        created: function(){
            this.newdata = this.data.permissions;
            if(this.data._id === "new"){
                this.icon = this.data.icon+"";
                this.editform= true;
            }

        },
        methods: {
            edit: function (role, event) {
                if(event.target.checked){
                    this.newdata = this.newdata | role;
                }else{
                    this.newdata = this.newdata & ~role;
                }
            },
            clickedit: function(){
                this.editform = !this.editform;
                this.name = this.data.name+"";
                this.icon = this.data.icon+"";
            },
            savePerms: async function(){
                this.loadingsave=true;
                const response = await this.request('/role/'+this.data._id,"put",{permissions:this.newdata});
                this.$emit('edit', response.data);
                this.loadingsave=false;
            },
            saveName: async function(){
                if(this.name === ''){
                    this.erroreditname = true;
                }else {
                    try {
                        this.loadingsave = true;
                        const data = {name: this.name, icon: this.icon};
                        const response = await this.request('/role/' + this.data._id, "put", data);
                        this.$emit('edit', response.data);
                        this.loadingsave = false;
                        this.editform = false;
                    } catch (e) {
                        EventBus.$emit('show-info', {
                            type: "danger",
                            txt: e.response.data.message
                        });

                    } finally {
                        this.loadingsave = false;
                    }
                }
            },
            clickremove: function(){
                if(this.data._id !== 'new') this.removemodal=true;
                else this.$emit('remove',this.data._id);
            },
            remove: async function(){
                this.loadingsave=true;
                await this.request('/role/'+this.data._id,"delete");
                this.$emit('remove',this.data._id);
                this.loadingsave=false;
            },
            newRoleClick: async function(){

                if(!this.name){
                    this.erroreditname=true;
                }else {
                    this.loadingsave = true;
                    const data = {
                        name: this.name,
                        icon: this.icon,
                        permissions: this.newdata
                    };
                    const response = await this.request('/role/', "post", data);
                    this.$emit('remove', 'new');
                    this.$emit('new', response.data);
                }

            }
        }
    }
</script>

<style lang="scss" scoped>

    $size: 24px;
    $slide-color: #2196F3;

    .switch {
        position: relative;
        display: block;
        width: 50px;
        height: $size;
        margin:0 auto;
    }
    .switch input {display:none;}


    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: $size - 8px;
        width: $size - 8px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: $slide-color;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $slide-color;
    }

    input:disabled + .slider{
        background-color: desaturate($slide-color,40%);
        opacity: .65;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;

    }

    .slider.round:before {
        border-radius: 50%;
    }


    .switch-list{
        text-align: center;
    }

    .role-title{
        font-size: 1.4em;
        border-bottom: 1px solid #d8d8d8;
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
    .category{
        margin-bottom: 15px;
    }

    .title{
        display: inline-block;
    }

    .icon.avatar{
        font-size: 2em;
        padding: 15px;
        margin-right: 15px;
        height: 65px;
        width: 65px;
    }

    .editbuttons {
        margin-top: -15px;
        button {
            display: block;
            width: 130px;
            margin: 5px;
        }
    }

    .no-btn-save{
        height:25px;
    }

    .info{
        margin-bottom: 10px;
        display: inline-block;
    }

    .select-icon{
        button{
            margin-right: 5px;
            border: solid #c1c1c1 2px;
            border-radius: 50%;
            background: #fff;
            width: 43px;
            height: 40px;
            &.active{
                background: #eee;
            }
        }
    }

    .row-title{
        min-height: 66px;
    }
    .remove-tip{
        height: 21px;
        width: 139px;
        z-index: 1;
        position: absolute;
    }

    @media (min-width: 576px) {
        .editbuttons{
            margin-top: 0px;
        }

    }

</style>