<template>
    <div id="app">
        <div id="nav">



            <nav class="navbar navbar-light bg-light justify-content-between flex-nowrap flex-row">

                <ul class="nav navbar-nav flex-row float-left">

                    <li class="nav-item title">
                        <router-link class="navbar-brand d-none d-sm-inline" to="/">
                            <img src="./assets/logo.png">&nbsp;<span >{{WEBNAME}}</span>

                        </router-link>

                    </li>

                    <li class="nav-item  d-inline d-sm-none">
                        <router-link class="btn my-2 my-sm-0"
                                     :class="[$route.meta.active ==='home' ? 'btn-success':'btn-outline-success']"
                                     to="/">
                            <i class="fas fa-home"></i>
                            <span class="d-none d-sm-none d-sm-inline">&nbsp;Home</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="btn my-2 my-sm-0"
                                 :class="[$route.meta.active ==='article' ? 'btn-success':'btn-outline-success']"
                                 to="/articles">
                            <i class="far fa-list-alt"></i>
                            <span class="d-none d-sm-none d-sm-inline">&nbsp;Blog</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="btn my-2 my-sm-0"
                                     :class="[$route.meta.active ==='adoption' ? 'btn-success':'btn-outline-success']"
                                     to="/adoptions">
                            <i class="fas fa-paw"></i>
                            <span class="d-none d-sm-none d-sm-inline">&nbsp;Adopciones</span>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="btn my-2 my-sm-0"
                                     :class="[$route.meta.active ==='users' ? 'btn-success':'btn-outline-success']"
                                     to="/users">
                            <i class="fas fa-user"></i>
                            <span class="d-none d-sm-none d-sm-inline">&nbsp;Usuarios</span>
                        </router-link>
                    </li>



                    <li class="nav-item" v-if="user.permissions & ROLE_LIST.role.w">
                        <router-link class="btn my-2 my-sm-0"
                                     :class="[$route.meta.active ==='role' ? 'btn-info':'btn-outline-info']"
                                     to="/roles">
                            <i class="fas fa-lock"></i>
                            <span class="d-none d-sm-none d-sm-inline">&nbsp;Configurar roles</span>
                        </router-link>
                    </li>

                </ul>

                <div class="float-right flex-row nav navbar-nav">

                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item">
                            <router-link v-if="!user.logged" class="btn btnprofile"
                                         :class="[$route.meta.active ==='myprofile' ? 'btn-warning':'btn-outline-warning']"
                                         to="/login">
                                <b class="fas fa-sign-in-alt"></b>
                            </router-link>
                            <router-link v-if="user.logged" class="btn btnprofile"
                                         :class="[$route.meta.active ==='myprofile' ? 'btn-success':'btn-outline-success']"
                                         to="/myprofile">
                                <i class="far fa-user"></i>
                            </router-link>
                        </li>
                    </ul>

                </div>

            </nav>

        </div>




        <div class="container">

            <transition name="component-fade" mode="out-in">
                <div v-if="alertshow" class="alert alert-dismissible fade show" :class="alerttype" role="alert">
                    {{alerttxt}}
                    <button type="button" @click="alertshow = false" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </transition>

            <transition name="component-fade" mode="out-in">
                <router-view/>
            </transition>
        </div>


    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import EventBus from './eventBus';

    export default {
        name: "app",
        data: function () {
            return {
                search: "",
                alerttxt: "",
                alerttype: "",
                alertshow: false
            }
        },
        computed: mapState({
            user:'user'
        }),
        created: async function(){

            const that = this;
            let timeout=null;
            EventBus.$on('show-info', function(errordata){
                if(timeout) clearTimeout(timeout);
                that.alerttxt = errordata.txt;
                that.alerttype = "alert-"+errordata.type;
                that.alertshow = true;
                timeout = setTimeout(function(){
                    that.alertshow = false;
                },3000);
            });

            //Si estoy logueado compruebo que el usuario sigue exisitiendo y actualizo sus datos
            if(this.user.token){

                try {
                    const response = await this.request('/user/' + this.user.id);

                    this.$store.commit('setUser', {
                        name: response.data.name,
                        lastname: response.data.lastname,
                        logged: true,
                        token: this.user.token,
                        email: response.data.email,
                        id: response.data._id,
                        permissions: response.data.role.permissions,
                        image: response.data.image
                    });
                }catch(e){
                    const errtxt = e.response.status === 404
                        ? "El usuario con el que estabas registrado ya no existe."
                        : e.response.data.message;
                    EventBus.$emit('show-info', {
                        type: "danger",
                        txt: errtxt
                    });
                    this.logout();
                }

            }

        }

    }

</script>

<style lang="scss">

    @import "~vue-wysiwyg/dist/vueWysiwyg.css";
    @import "./assets/css/icofont.css";

    html{
        font-family: 'Roboto', sans-serif;
        overflow-y: scroll;
    }

    #nav{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    .alert{
        z-index: 100;
        position:fixed;
        top: 75px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    @media (max-width: 576px) {
        .alert {
            width: calc(100% - 30px);
        }
    }
    .title img{
        height: 40px;
    }

    #app>.container{
        padding-top: 56px;
    }

    @media (min-width: 576px) {
        section {
            margin: 50px 0;
        }
    }
    .nav-item{
        margin-right: 5px;
    }

    .avatar{

        border: solid #c1c1c1 2px;
        border-radius: 50%;
    }

    .input-group input[type="search"] ~i.fa-times-circle{
        position: absolute;
        right: 50px;
        top: 11px;
        color: #888;
        z-index: 10;
        cursor: pointer;
    }

    .input-group input[type="search"]:placeholder-shown ~i.fa-times-circle{
        display: none;
    }

    @media (max-width: 576px) {
        .navbar{
            margin-top: -8px;
            padding-bottom: 0;
        }
        .nav-item.title{
            display: none !important;
        }

        #searchform{
            width: 100%;
        }
        #searchbtn{
            margin: 0 !important;
        }

        //Fila de botones de los listados.
        .rowbotones {
            margin-bottom: 0 !important;
            .btn:not(label) {
                width: 100%;
                position: relative;
                margin: 5px 0 !important;
            }

            .btn-group-toggle{
                margin: 5px 0;
                width: fit-content !important;
            }

        }



        .input-group input{
            margin-left: 0;
            height: 38px;
            margin-top: 5px;
        }


        //Cajas de búsquedas
        .input-group {
            margin-left: 0;
            width: 100%;
            input,.btn {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
        }


    }

    .empty-list{
        margin-top: 35px;
        text-align: center;
        h3{
            font-size: 1.75rem;
        }
        img{
            margin-top: 15px;
            max-width: 100%;
        }
    }

    /* Diseño de las tarjetas para perfiles, posts y fichas de animales. A lo material design*/
    .card{
        background: #fbfbfb;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 10px 0;
    }

    .jumbotron{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .unique .card{
        margin-top: 0;
    }
    @media (max-width: 576px) {
        .unique .card{
            margin-top: 5px;
        }
    }
    /* Diseño de botones adicional, a lo material design*/
    .btn{
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    }
    input, textarea, .editr{
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.6);
    }
    .nav-item .btn{
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    .input-group{
        border-radius: .25rem;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.6);
        input,.btn{
            margin-left:0 !important;
            margin-right:0 !important;
            box-shadow: none;
        }
    }
    .btn-group{
        border-radius: .25rem;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.6);
        width: fit-content;
        .btn{
            box-shadow: none;
        }
    }

    .btn-group-toggle{
        border: 0px;
        padding: 0px;
        label{
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .editr--toolbar>div{
        display: contents; //Para que los botones se "apiñen" cuando la pantalla es pequeña.
                            //Ojo, solo funciona en navegadores muy nuevos (chrome > 65)
        i{
            padding-top: 8px; //Los iconos de fontawesome descuadran
        }
        @media (max-width: 576px) {
            .vw-btn-separator {
                margin: 0 !important;
            }
        }
    }



    /** Animación de la barra de carga */

    $loadingBarColor1:#28a745; //claro
    $loadingBarColor2:darken($loadingBarColor1,30%); //oscuro
    $loadingBarColor3:#d3d3d3; //Fondo

    .loadingbar {
        height:20px;
        width:200px;
        padding:0px;
        margin:0 auto;
        background-color:rgba(0,0,0,.1);
        border-radius:20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 50%;
        left: calc(50% - 100px);
        span {
            display: inline-block;
            height: 100%;
            width: 100%;
            border: 1px solid $loadingBarColor1;
            border-bottom-color: $loadingBarColor2;
            border-radius: 20px;
            box-sizing: border-box;
            background: $loadingBarColor3 linear-gradient(
                            -45deg,
                            $loadingBarColor1 25%,
                            transparent 25%,
                            transparent 50%,
                            $loadingBarColor1 50%,
                            $loadingBarColor1 75%,
                            transparent 75%,
                            transparent
            );
            background-size: 50px 50px;
            animation: move 2s linear infinite;
            overflow: hidden;
            box-shadow: inset 0 10px 0 rgba(255, 255, 255, .2);
        }
    }
    @keyframes move{
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 50px 50px;
        }
    }

    //para transiciones suaves de vue
    //https://vuejs.org/v2/guide/transitions.html#Transition-Modes
    .fade-enter-active,.fade-leave-active {
        transition: opacity 0.3s ease;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0
    }
    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .3s ease;
    }
    .component-fade-enter, .component-fade-leave-to{
        opacity: 0;
    }


    .list-complete-enter-active, .list-complete-leave-active, .list-enter-active, .list-leave-active, .flip-list-enter-active, .flip-list-leave-active {
        transition: all .3s;
        max-height: 300px;
    }

    //Mientras entra
    //list-enter-active list-enter-to
    //mientras sale
    //row comment list-leave-active list-leave-to
    .list-complete-enter, .list-complete-leave-to,  .list-enter, .list-leave-to, .flip-list-enter, .flip-list-leave-to {
        max-height: 0;
        opacity:0;
    }
    .list-complete-move, .flip-list-move {
        transition: transform 0.5s;
    }


    @media (min-width: 576px) {
        .list-horizontal-complete-enter-active, .list-horizontal-complete-leave-active {
            transition: all .3s;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;

        }
        .list-horizontal-complete-enter, .list-horizontal-complete-leave-to {
            max-width: 0;
        }
    }

    @media (max-width: 576px) {
        .list-horizontal-complete-enter-active, .list-horizontal-complete-leave-active {
            transition: all .3s;
            max-height: 480px;
            white-space: nowrap;
            overflow: hidden;

        }
        .list-horizontal-complete-enter, .list-horizontal-complete-leave-to {
            max-height: 0;
        }
    }



    //Fin de transiciones suaves con vue


    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }



    $tooltip-background: #fff;
    $tooltip-color: #333;
    $tooltip-border-color: #888;
    $tooltip-arrow-size: 10px;


    /** Para los tooltps*/
    .tooltip{
        display: block !important;
        z-index: 10000;

        .tooltip-inner, .popover-inner {
            box-shadow: 10px 10px 37px -15px rgba(0,0,0,0.75);
            background: $tooltip-background;
            color: $tooltip-color;
            border-radius: 5px;
            padding: 5px 10px 4px;
            border: 1px solid $tooltip-border-color;
        }

        .tooltip-arrow, .popover-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
            border-color: $tooltip-border-color;
            z-index: 1;
        }

        &[x-placement^="top"] {
            margin-bottom: 5px;

            .tooltip-arrow,.popover-arrow {
                border-width: $tooltip-arrow-size $tooltip-arrow-size 0 $tooltip-arrow-size;
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                bottom: -$tooltip-arrow-size;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &[x-placement^="bottom"] {
            margin-top: 5px;

            .tooltip-arrow,.popover-arrow {
                border-width: 0 $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size;
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-top-color: transparent !important;
                top: -$tooltip-arrow-size;
                left: calc(50% - 5px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &[x-placement^="right"] {
            margin-left: $tooltip-arrow-size;

            .tooltip-arrow,.popover-arrow {
                border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
                border-left-color: transparent !important;
                border-top-color: transparent !important;
                border-bottom-color: transparent !important;
                left: -$tooltip-arrow-size;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }

        &[x-placement^="left"] {
            margin-right: $tooltip-arrow-size;

            .tooltip-arrow,.popover-arrow {
                border-width: $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size;
                border-top-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
                right: -$tooltip-arrow-size;
                top: calc(50% - 5px);
                margin-left: 0;
                margin-right: 0;
            }
        }

        &[aria-hidden='true'] {
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s, visibility .15s;
        }

        &[aria-hidden='false'] {
            visibility: visible;
            opacity: 1;
            transition: opacity .15s;
        }
    }
    /** Fin de tooltips */

    /** Botones superiores de los listados */

    .rowbotones{
        .btn{
            margin: 0 5px;
        }
        .btn:first-child{
            margin-left: 0;
        }
        .btn:last-child{
            margin-right: 0;
        }
        .btn .fas.right{
            padding-left:5px;
        }
        .btn .left{
            padding-right:5px;
        }
    }

    @media(max-width: 576px){
        .rowbotones {
            .float-right, .float-left {
                width: 100%;
            }
        }
    }



    /* Los botones no modifican el ancho cuando se está cargando. Es necesario añadir la clase loadder y  la
    clase visible dinámicamente al span */
    button.loadder i.fa-spinner {
        position: relative;
        left: calc(-50% + 16px / 2);
        margin-left: -16px;
    }
    button.loadder > span {
        opacity: 0;
        transition: opacity 0.3s;
    }
    .loadder .visible {
        opacity: 1 !important;
    }

    /* Los botones de editar pequeños */
    .edit-tiny-buttons{

        .btn{
            font-size: 12px;
            padding: 3px;
            line-height: 1;
            margin-left: 5px;
        }
    }

    /* Los diferentes estilos para los tipos de componentes en los listados */
    .list .hide-in-list {
        display: none;
    }

    /* Estilos individual */
    .unique .hide-in-unique {
        display: none;
    }

    /* Estilos listado en pequeño*/
    .tiny .hide-in-tiny{
        display: none !important;
    }
    .tiny .card{
        //Una sombra más sutil cuando estoy en un listado en pequeño
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);
    }


    //La galería
    #blueimp-gallery{
        .close,.next,.prev{
            color: #fff;
        }
    }


</style>
